.researchSubjects-chip-list {
  width: 100%;
}

.card {
  width: 50%;
  min-width: 900px;
}

.mat-form-field {
  width: 100% !important;
}

.profileImage {
  display: block;
  max-width: 240px;
  max-height: 240px;
  object-fit: scale-down; //Or cover
  width: auto;
  height: auto;
}

.profileImageContainer {
  min-height: 240px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .card {
    width: 90%;
    min-width: 120px;
  }
}
