<form>
  <mat-form-field appearance="outline">
    <mat-label>Benutzer suchen</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput [matAutocomplete]="auto" [disabled]="disabled" [formControl]="userSearchInput" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="this.onSelectResult($event)">
      <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
        <span>{{ user.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
