<div *ngIf="project" class="project-detail">
  <div>
    <button
      (click)="goBack()"
      style="float: left; margin-top: 10px; margin-right: 10px;"
      mat-icon-button
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{ project.name }}</h1>
  </div>
  <div>
    <mat-card>
      <mat-card-subtitle>Status</mat-card-subtitle>
      <mat-card-title>
        <div
          [class.abgeschlossen]="project.status === 'ABGESCHLOSSEN'"
          [class.geplant]="project.status === 'VERFÜGBAR'"
          class="status"
        >
          {{ project.status.charAt(0).toUpperCase() + project.status.slice(1).toLowerCase() }}
        </div>
      </mat-card-title>
      <mat-card-subtitle>Teilnahmevoraussetzungen</mat-card-subtitle>
      <mat-card-title>
        {{ project.requirement }}
      </mat-card-title>
      <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
      <mat-card-title>
        {{ project.supervisorName }}
      </mat-card-title>
      <mat-card-subtitle>Kurze Beschreibung</mat-card-subtitle>
      <mat-card-title>{{ project.shortDescription }}</mat-card-title>
      <mat-card-subtitle>Beschreibung</mat-card-subtitle>
      <mat-card-title>
        {{ project.description }}
      </mat-card-title>
      <mat-card-subtitle>Tags</mat-card-subtitle>
      <mat-card-subtitle
        ><br />
        <mat-chip-list>
          <mat-chip *ngFor="let tag of project.tags">{{ tag.tagName }}</mat-chip>
          <mat-chip *ngIf="!project.tags.length">Keine Tags vorhanden</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <br />
        <mat-divider></mat-divider>
        <br />
      </mat-card-subtitle>
      <mat-card-actions>
        <div>
          <button
            (click)="deleteProject(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-remove-button"
            mat-icon-button
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button
            (click)="openProjectDialog(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-edit-button"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
