.mat-card {
  margin: 15px auto;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.09);
  max-width: 1000px;
}

@media (max-width: 1085px) {
  .mat-card {
    width: auto;
    margin-right: 0;
    margin-top: 34px;
    display: block;
  }
}

.mat-card-subtitle {
  margin-bottom: 0;
  color: var(--th-red);
}

.mat-card-actions {
  margin-left: 0;
  padding-top: 15px;
}

.mat-button {
  margin-bottom: 5px !important;
  font-size: 1em;
  color: var(--th-purple);
}

#project-edit-button {
  margin-right: 5px;
  float: right;
}

#project-remove-button {
  float: right;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  color: var(--th-red);
  padding-top: 15px;
  padding-left: 30px;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li:before {
  content: '';
  border-color: transparent var(--th-red);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.mat-icon-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.mat-icon {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5),
    inset 0 2px 0 rgba(255, 255, 255, 0.25);
  color: #696969;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: center;
}

.mat-card-header {
  margin-bottom: 15px;
}

.mat-card-content {
  padding-top: 5px;
  margin-top: 15px;
  padding-left: 15px;
}

.supervisorName {
  padding-top: 10px;
  float: left;
}

.mat-chip-list-wrapper {
  margin-top: 10px;
}

.mat-card-content > .mat-card-subtitle {
  padding-top: 10px;
}

.mat-card-avatar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: inline-block;
}

@media (max-width: 600px) {
  .card-container-wrapper {
    display: block !important;
  }

  .card-container:nth-child(2) {
    padding-left: 0 !important;
  }
}

.card-container:first-child {
  padding-right: 10px;
  width: 65%;
}

.card-container:nth-child(2) {
  padding-left: 10px;
  width: 35%;
}

.card-container-wrapper {
  display: flex;
  justify-content: space-between;
}

.show-less {
  max-height: 6rem;
  overflow: hidden;
  margin-bottom: 10px;
}

.show-more-button {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
}

.mat-card-actions {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px !important;
}

.project-button {
  color: white;
  background-color: var(--th-orange);
}

.mat-chip {
  background-color: var(--th-purple) !important;
}

.status-icon {
  margin-left: 10px;
  float: right;
  background: white;
  color: #b62584;
  border: 2px solid #b62584;
}

.status-icon:hover {
  margin-left: 10px;
  float: right;
  background: #b62584;
  color: white;
  padding: 10px !important;
  border: none;
}

.button-toggle-description {
  text-align: center;
}
