.profile-vita > * {
  text-align: center;
}

.profile-vita h1 {
  padding-top: 60px;
  line-height: 38px;
}

.profile-vita p {
  padding-bottom: 60px;
  white-space: pre-wrap;
  line-height: 110%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}
