@mixin profile-page-vita-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .profile-vita {
    h1 {
      color: mat-contrast($primary, 400);
    }
    color: mat-contrast($primary, 400);
    background: mat-color($primary);
  }
}
