@use '~@angular/material' as mat;
@mixin profile-page-vita-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .profile-vita {
    h1 {
      color: mat.get-contrast-color-from-palette($primary, 400);
    }
    color: mat.get-contrast-color-from-palette($primary, 400);
    background: mat.get-color-from-palette($primary);
  }
}
