<app-profile-card>
  <app-profile-card-header [icon]="faGlobeEurope">
    <app-profile-card-title>Sprachen</app-profile-card-title>
  </app-profile-card-header>
  <app-profile-card-content>
    <div
      class="grid md:grid-cols-3 lg:grid-cols-4 gap-4 break-words items-center text-sm"
    >
      <app-profile-language-card-entry
        *ngFor="let lang of languages"
        [name]="lang.name"
        [isoIdentifier]="lang.isoIdentifier"
      ></app-profile-language-card-entry>
    </div>
    <i *ngIf="!languages || languages.length === 0">Keine Sprachen angegeben</i>
  </app-profile-card-content>
</app-profile-card>
