<b> Derzeit ist es zwingend nötig, dass Sie die Accountkennung angeben. </b>
<p>✔ Richtig: <i>MusterfirmaGmbH</i></p>
<p>❌ Falsch: <i>https://www.facebook.com/MusterfirmaGmbH/</i></p>
<form [formGroup]="organizationSocialMediaForm" class="flex flex-col">
  <mat-form-field appearance="outline">
    <mat-label>Facebook Handle</mat-label>
    <mat-icon class="mx-4" fontSet="fab" fontIcon="fa-facebook" matPrefix></mat-icon>
    <input formControlName="FACEBOOK" matInput maxlength="255" placeholder="Facebook Handle" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="mx-2">Twitter Handle</mat-label>
    <mat-icon class="mx-4" fontSet="fab" fontIcon="fa-twitter" matPrefix></mat-icon>
    <input formControlName="TWITTER" matInput maxlength="255" placeholder="Twitter Handle" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="mx-2">Instagram Handle</mat-label>
    <mat-icon class="mx-4" fontSet="fab" fontIcon="fa-instagram" matPrefix></mat-icon>
    <input formControlName="INSTAGRAM" matInput maxlength="255" placeholder="Instagram Handle" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="mx-2">Xing Handle</mat-label>
    <mat-icon class="mx-4" fontSet="fab" fontIcon="fa-xing" matPrefix></mat-icon>
    <input formControlName="XING" matInput maxlength="255" placeholder="Xing Handle" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="mx-2">LinkedIn Handle</mat-label>
    <mat-icon class="mx-4" fontSet="fab" fontIcon="fa-linkedin" matPrefix></mat-icon>
    <input formControlName="LINKEDIN" matInput maxlength="255" placeholder="LinkedIn Handle" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label class="mx-2">YouTube Handle</mat-label>
    <mat-icon class="mx-4" fontSet="fab" fontIcon="fa-youtube" matPrefix></mat-icon>
    <input formControlName="YOUTUBE" matInput maxlength="255" placeholder="YouTube Handle" />
  </mat-form-field>
</form>
