<b> Derzeit ist es zwingend nötig, dass Sie die Accountkennung angeben. </b>
<p>✔ Richtig: <i>MusterfirmaGmbH</i></p>
<p>❌ Falsch: <i>https://www.facebook.com/MusterfirmaGmbH/</i></p>
<form [formGroup]="organizationSocialMediaForm" class="flex flex-col">
  <mat-form-field>
    <fa-icon class="mx-4" matPrefix [icon]="facebookIcon"></fa-icon>
    <input formControlName="FACEBOOK" matInput maxlength="255" placeholder="Facebook Handle" />
  </mat-form-field>
  <mat-form-field>
    <fa-icon class="mx-4" matPrefix [icon]="twitterIcon"></fa-icon>
    <input formControlName="TWITTER" matInput maxlength="255" placeholder="Twitter Handle" />
  </mat-form-field>
  <mat-form-field>
    <fa-icon class="mx-4" matPrefix [icon]="instagramIcon"></fa-icon>
    <input formControlName="INSTAGRAM" matInput maxlength="255" placeholder="Instagram Handle" />
  </mat-form-field>
  <mat-form-field>
    <fa-icon class="mx-4" matPrefix [icon]="xingIcon"></fa-icon>
    <input formControlName="XING" matInput maxlength="255" placeholder="Xing Handle" />
  </mat-form-field>
  <mat-form-field>
    <fa-icon class="mx-4" matPrefix [icon]="linkedinIcon"></fa-icon>
    <input formControlName="LINKEDIN" matInput maxlength="255" placeholder="LinkedIn Handle" />
  </mat-form-field>
  <mat-form-field>
    <fa-icon class="mx-4" matPrefix [icon]="youtubeIcon"></fa-icon>
    <input formControlName="YOUTUBE" matInput maxlength="255" placeholder="YouTube Handle" />
  </mat-form-field>
</form>
