<div class="user">
  <div class="loginState">
    <h1 *ngIf="isLoggedIn">{{ username }}</h1>
    <button (click)="login()" *ngIf="!isLoggedIn" mat-flat-button class="login">Einloggen</button>
  </div>

  <mat-list *ngIf="isLoggedIn">
    <mat-list-item>
      <button (click)="logout()" class="sidebar-button" mat-button>
        <mat-icon class="sidebar-icon">logout</mat-icon>
        Ausloggen
      </button>
    </mat-list-item>

    <mat-list-item>
      <button class="sidebar-button" mat-button [routerLink]="['/lecturers', userId]">
        <mat-icon class="sidebar-icon">badge</mat-icon>
        Mein Profil
      </button>
    </mat-list-item>
  </mat-list>
</div>
