<div class="flex flex-col items-center">
  <div class="loginState">
    <h1 *ngIf="isLoggedIn">{{ username }}</h1>
    <button (click)="login()" *ngIf="!isLoggedIn" class="btn btn-primary btn-square btn-wide">Anmelden</button>
  </div>

  <ul *ngIf="isLoggedIn">
    <li>
      <a [routerLink]="['/lecturers', userId]">
        <button class="btn btn-secondary btn-square btn-wide">Mein Profil</button>
      </a>
    </li>
    <li>
      <a>
        <button (click)="logout()" class="btn btn-error btn-outline btn-square btn-wide">Abmelden</button>
      </a>
    </li>
  </ul>
</div>
