<div class="user">
  <div class="loginState">
    <h1 *ngIf="isLoggedIn">{{ username }}</h1>
    <button (click)="login()" *ngIf="!isLoggedIn" mat-flat-button class="login">
      Einloggen
    </button>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="actionRow"
    *ngIf="isLoggedIn"
  >
    <button (click)="logout()" mat-icon-button matTooltip="Ausloggen">
      <mat-icon>logout</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Mein Profil"
      [routerLink]="['/lecturers', userId]"
    >
      <mat-icon>badge</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Meine Organisationen">
      <mat-icon>groups</mat-icon>
    </button>
  </div>
</div>
