<div class="border-2 bg-base-100 shadow-xl p-10">
  <div class="border-l-4 p-4" [ngClass]="stateClasses[project.status.state]">
    <app-project-card-header [project]="project"></app-project-card-header>
  </div>
  <div class="divider"></div>
  <div class="flex flex-col justify-between content-between gap-5">
    <div>
      <strong>Kurze Projektbeschreibung:</strong>
      <p [innerHTML]="project.summary | linky"></p>
    </div>
    <div *ngIf="showDetails">
      <strong> Projektbeschreibung:</strong>
      <div>
        <p [innerHTML]="project.description | linky"></p>
      </div>
    </div>
    <div class="flex flex-row gap-2 justify-between content-center">
      <div class="basis-3/4">
        <strong>Teilnahmevoraussetzungen</strong>

        <div *ngIf="project.requirement; else noRequirement">
          <p [innerHTML]="project.requirement | linky"></p>
        </div>
        <ng-template #noRequirement> <p>Keine Teilnahmevoraussetzungen</p></ng-template>
      </div>
      <div class="basis-1/4" *ngIf="project.curriculumContext?.moduleTypes?.length > 0">
        <strong>Projekttypen:</strong>

        <p *ngFor="let module of project.curriculumContext?.moduleTypes">
          <strong>({{ module.key }})</strong> {{ module.name }}
        </p>
      </div>
    </div>
    <div class="flex flex-row gap-5 justify-between content-center">
      <div class="basis-3/4">
        <app-tag-list [tags]="project.tags" (tagClicked)="onTagClick($event)" [clickable]="true"> </app-tag-list>
      </div>
      <div class="basis-1/4">
        <ng-container *ngIf="project.timeBox && (project.timeBox.start || project.timeBox.end)">
          <strong>Projektlaufzeit</strong>
          <p *ngIf="project.timeBox.start"><strong>(Beginn)</strong> {{ project.timeBox.start | date : 'YYYY-MM-dd' }}</p>
          <p *ngIf="project.timeBox.end"><strong>(Ende)</strong> {{ project.timeBox.end | date : 'YYYY-MM-dd' }}</p>
        </ng-container>
        <strong>Erstellt am:</strong>
        <p>{{ project.createdAt | date : 'YYYY-MM-dd' }}</p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!showDetails || project._permissions.hasAccess">
    <div class="divider"></div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        <button
          class="tooltip btn btn-sm btn-primary"
          *ngIf="!showDetails"
          routerLink="/projects/{{ project.id }}"
          data-tip="Weiterführende Projektdetails"
        >
          Projektdetails
        </button>
      </div>
      <div class="flex flex-row gap-2">
        <button
          data-tip="Durch Ihr Commitment erklären Sie sich bereit, diesen Vorschlag als Projektarbeit zu betreuen"
          class="btn btn-outline btn-primary tooltip"
          *ngIf="canCommit"
          (click)="commit()"
        >
          <fa-icon class="mr-2" [icon]="commitIcon"></fa-icon>
          Commitment abgeben
        </button>
        <button *ngIf="false" data-tip="Projekt sternen" class="btn btn-outline btn-primary tooltip" (click)="toggleStar()">
          <fa-icon class="mr-2" [icon]="isStarred ? starSolid : starRegular"></fa-icon>
          {{ this.project.metrics.interestedCount }}
        </button>
        <ng-container *ngIf="project._permissions.hasAccess">
          <app-project-card-status-actions [project]="project" (status)="onStatusChange($event)"></app-project-card-status-actions>
          <div class="dropdown dropdown-top dropdown-end">
            <label tabindex="0" class="btn">
              <fa-icon [icon]="barsIcon"></fa-icon>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 space-y-2">
              <li>
                <button class="btn btn-outline" (click)="onEditClick()" *ngIf="project._permissions.hasAccess">
                  <fa-icon [icon]="editIcon"></fa-icon>
                  Bearbeiten
                </button>
              </li>
              <li>
                <button class="btn btn-outline btn-error" (click)="onDeleteClick()" *ngIf="project._permissions.hasAccess">
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                  Löschen
                </button>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
