<div class="border-2 bg-base-100 shadow-xl p-10">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <strong class="text-lg font-bold text-black basis-3/4">{{ project.name }}</strong>
      <span class="text-secondary" matTooltip="Projektbetreuer">
        <b>Betreuer: </b>
        <ng-container *ngFor="let supervisor of project.supervisors">
          <a class="mr-2" [routerLink]="['/users', supervisor.id]">
            <b [innerHTML]="supervisor.name"></b>
          </a>
        </ng-container>
      </span>
      <span class="text-secondary" matTooltip="Autor" *ngIf="owner$ | async; let owner">
        <b>Erstellt von: </b> <a [routerLink]="owner.profileRouter"> {{ owner.authorName }}</a>
      </span>
    </div>
    <app-project-icons
      class="basis-1/4 flex-initial"
      [owner]="project.owner"
      [status]="project.status"
      [specialization]="specialization"
    ></app-project-icons>
  </div>
  <div class="divider"></div>
  <div class="flex flex-col justify-between content-between gap-5">
    <div>
      <strong>Kurze Projektbeschreibung:</strong>
      <p [innerHTML]="project.shortDescription | linky"></p>
    </div>
    <div *ngIf="showDetails">
      <strong> Projektbeschreibung:</strong>
      <div>
        <p [innerHTML]="project.description | linky"></p>
      </div>
    </div>
    <div class="flex flex-row gap-2 justify-between content-center">
      <div class="basis-3/4">
        <strong>Teilnahmevoraussetzungen:</strong>

        <p *ngIf="!project.requirement">Keine Teilnahmevoraussetzungen</p>

        <p>{{ project.requirement }}</p>
      </div>
      <div class="basis-1/4">
        <strong>Projekttypen:</strong>

        <p *ngFor="let module of modules">
          <b>({{ module.key }})</b> {{ module.name }}
        </p>
      </div>
    </div>
    <div class="flex flex-row gap-5 justify-between content-center">
      <div class="basis-3/4">
        <app-chip-list>
          <app-chip *ngFor="let tag of tags" [attr.data-tip]="tag.tagName" class="tooltip">
            {{ tag.tagName }}
          </app-chip>
        </app-chip-list>
      </div>
      <div class="basis-1/4">
        <strong>Erstellt am:</strong>
        <p>{{ project.createdAt | date: 'YYYY-MM-dd' }}</p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!showDetails || permissions.canEdit || permissions.canDelete">
    <div class="divider"></div>
    <div class="flex flex-row justify-between">
      <div class>
        <button
          class="tooltip btn btn-sm btn-primary"
          *ngIf="!showDetails"
          routerLink="/projects/{{ project.id }}"
          data-tip="Weiterführende Projektdetails"
        >
          Projektdetails
        </button>
      </div>
      <div class="flex flex-row gap-2">
        <button class="btn btn btn-outline" (click)="onEditClick()" *ngIf="permissions.canEdit">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
        <button class="btn btn btn-outline btn-error" (click)="onDeleteClick()" *ngIf="permissions.canDelete">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
