<div
  class="slider-content-item-wrapper"
  [ngClass]="className"
  [@translateSlide]="_position"
  (@translateSlide.start)="onTranslateSlideStart($event)"
  (@translateSlide.done)="onTranslateSlideEnd($event)"
>
  <div class="content-item-wrapper">
    <div class="card bg-base-200 p-4" *ngIf="_displayContent">
      <div class="card-title px-8">
        <a class="hover:underline" [routerLink]="['/projects', _project.id]">{{ _project.title }}</a>
      </div>
      <div class="card-body">
        <ng-container *ngFor="let supervisor of _project.supervisors">
          <a class="mr-2 ml-0 mr-auto" [routerLink]="['/users', supervisor.id]">
            <strong [innerHTML]="supervisor.name"></strong>
          </a>
        </ng-container>
        <p [innerHTML]="_project.summary | linky"></p>
      </div>
    </div>
  </div>
</div>
