<ng-container *ngIf="user$ | async; let user; else: loading">
  <div class="mx-auto max-w-screen-lg flex flex-col gap-4">
    <app-profile-header-card
      (editClicked)="editProfile(user)"
      [imageSrc]="user.avatarUrl"
      [roundedAvatar]="true"
      [showEdit]="user._permissions.hasAccess"
      [tags]="tags$ | async"
      [title]="user.name"
    ></app-profile-header-card>
    <app-profile-information-card>
      <app-profile-information-card-entry
        *ngIf="user.profile?.affiliation"
        [value]="user.profile.affiliation"
        title="Hochschulzugehörigkeit seit"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.subject"
        [value]="user.profile.subject"
        title="Lehrgebiet"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.room"
        [value]="user.profile.room"
        title="Standort, Raum"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.telephone"
        [linkable]="true"
        [value]="user.profile.telephone"
        title="Telefonnummer"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.email"
        [linkable]="true"
        [value]="user.profile.email"
        title="E-Mail"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.homepage"
        [linkable]="true"
        [value]="user.profile.homepage"
        title="Homepage"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.consultationHour"
        [linkable]="true"
        [value]="user.profile.consultationHour"
        title="Sprechstunde"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.profile?.collegePage"
        [linkable]="true"
        [value]="user.profile.collegePage"
        title="Personalseite"
      ></app-profile-information-card-entry>
    </app-profile-information-card>
  </div>
  <app-sash *ngIf="user.profile?.vita" class="mt-4">
    <app-sash-title>Werdegang</app-sash-title>
    <app-sash-content>{{ user.profile.vita }}</app-sash-content>
  </app-sash>
  <div class="mx-auto max-w-screen-lg flex flex-col gap-4 mt-4">
    <app-profile-publications-card
      *ngIf="user.profile?.publications && user.profile.publications.length > 0"
      [publications]="user.profile.publications"
    ></app-profile-publications-card>
    <ng-container *ngIf="offeredProjects$ | async; let projects">
      <app-profile-projects-card [projects]="projects" class="w-full"></app-profile-projects-card>
    </ng-container>
    <ng-container *ngIf="projectHistory$ | async; let projectHistory">
      <app-profile-project-history *ngIf="projectHistory && projectHistory.length > 0">
        <app-profile-project-history-item *ngFor="let project of projectHistory" [project]="project"></app-profile-project-history-item>
      </app-profile-project-history>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading> Loading...</ng-template>
