<div class="bg-white p-3 shadow-sm rounded-sm">
  <div
    class="flex items-center space-x-2 font-semibold text-gray-900 leading-8"
  >
    <span clas="text-green-500">
      <fa-icon [icon]="faAdressCard"></fa-icon>
    </span>
    <span class="tracking-wide">Über</span>
  </div>
  <div class="text-gray-700">
    <div class="grid md:grid-cols-2 text-sm">
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Gründungsjahr</div>
        <div class="px-4 py-2">2020</div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Mitarbeiteranzahl</div>
        <div class="px-4 py-2">40-50</div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Haupsitz</div>
        <div class="px-4 py-2">Musterstadt</div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Weitere Standorte</div>
        <div class="px-4 py-2">Abu Dhabi, Köln, Duisburg</div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Homepage</div>
        <div class="px-4 py-2">example.org</div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">E-Mail-Adresse</div>
        <div class="px-4 py-2">
          <a class="text-blue-800" href="mailto:jane@example.com"
            >jane@example.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
