.prof-publications-div {
  color: #000000;
  font-family: 'Roboto';
}

.prof-publications-div h1 {
  font-size: 24px;
  line-height: 38px;
}

.prof-publications-div ul {
  list-style: none;
}

.prof-publications-div li {
  margin: 0 0 10px 0;
  padding-left: 2em;
  text-indent: -2em;
}
