<ng-container *ngIf="organization$ | async; let org">
  <div>
    <div class="mx-auto max-w-screen-lg flex flex-col gap-4">
      <app-profile-header-card
        [imageSrc]="avatar$ | async"
        [roundedAvatar]="false"
        [tags]="tags$ | async"
        [title]="org.name"
      ></app-profile-header-card>
      <app-profile-social-media-card
        *ngIf="org.profile.socialMediaHandles; let socialMedia"
        [facebookHandle]="socialMedia['FACEBOOK']"
        [instagramHandle]="socialMedia['INSTAGRAM']"
        [linkedInHandle]="socialMedia['LINKEDIN']"
        [twitterHandle]="socialMedia['TWITTER']"
        [xingHandle]="socialMedia['XING']"
        [youtubeHandle]="socialMedia['YOUTUBE']"
      ></app-profile-social-media-card>
      <app-profile-information-card>
        <app-profile-information-card-entry
          *ngIf="org.profile.numberOfEmployees"
          [value]="org.profile.numberOfEmployees"
          title="Anzahl Mitarbeiter"
        ></app-profile-information-card-entry>
        <app-profile-information-card-entry
          *ngIf="org.profile.foundingDate"
          [value]="org.profile.foundingDate"
          title="Gründungsdatum"
        ></app-profile-information-card-entry>
        <app-profile-information-card-entry
          *ngIf="org.profile.headquarter"
          [value]="org.profile.headquarter"
          title="Hauptsitz"
        ></app-profile-information-card-entry>
        <app-profile-information-card-entry
          *ngIf="org.profile.quarters"
          [value]="org.profile.quarters"
          title="Weitere Standorte"
        ></app-profile-information-card-entry>
        <app-profile-information-card-entry
          *ngIf="org.profile.homepage"
          [linkable]="true"
          [value]="org.profile.homepage"
          title="Homepage"
        ></app-profile-information-card-entry>
        <app-profile-information-card-entry
          *ngIf="org.profile.contactEmail"
          [linkable]="true"
          [value]="org.profile.contactEmail"
          title="Kontakt"
        ></app-profile-information-card-entry>
      </app-profile-information-card>
    </div>
    <app-sash *ngIf="org.profile.vita" class="mx-0 mt-4">
      <app-sash-title>Beschreibung</app-sash-title>
      <app-sash-content>{{ org.profile.vita }}</app-sash-content>
    </app-sash>
    <div class="mx-auto max-w-screen-lg flex flex-col gap-4 mt-4">
      <ng-container *ngIf="offeredProjects$ | async; let projects">
        <app-profile-projects-card [projects]="projects" class="w-full"></app-profile-projects-card>
      </ng-container>
      <ng-container *ngIf="projectHistory$ | async; let projectHistory">
        <app-profile-project-history *ngIf="projectHistory && projectHistory.length > 0">
          <app-profile-project-history-item *ngFor="let project of projectHistory" [project]="project"></app-profile-project-history-item>
        </app-profile-project-history>
      </ng-container>
    </div>
  </div>
</ng-container>
