<ng-container *ngIf="organization$ | async; let org">
  <div>
    <div class="flex flex-col gap-10 items-center justify-center">
      <!-- Profile Information -->
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 px-4 lg:px-16 xl:px-32 2xl:px-64">
        <div class="col-span-1">
          <app-profile-avatar-card>
            <app-avatar-card-title>{{ org.name }}</app-avatar-card-title>
            <img [src]="avatar$ | async" avatar alt="Avatar" onerror="this.src='/assets/images/blank-profile-picture.png'" />
            <app-social-media-button-row
              *ngIf="org.profile.socialMedia; let socialMedia"
              [facebookHandle]="socialMedia.facebookHandle"
              [twitterHandle]="socialMedia.twitterHandle"
              [instagramHandle]="socialMedia.instagramHandle"
              [xingHandle]="socialMedia.xingHandle"
              [linkedInHandle]="socialMedia.linkedInHandle"
              [youtubeHandle]="socialMedia.youtubeHandle"
            >
            </app-social-media-button-row>
          </app-profile-avatar-card>
        </div>
        <div class="col-span-1 md:col-span-2 lg:col-span-3">
          <div class="flex flex-col gap-4">
            <app-profile-information-card>
              <app-profile-information-card-entry
                title="Anzahl Mitarbeiter"
                *ngIf="org.profile.numberOfEmployees"
                [value]="org.profile.numberOfEmployees"
              ></app-profile-information-card-entry>
              <app-profile-information-card-entry
                title="Gründungsdatum"
                *ngIf="org.profile.foundingDate"
                [value]="org.profile.foundingDate"
              ></app-profile-information-card-entry>
              <app-profile-information-card-entry
                title="Hauptsitz"
                *ngIf="org.profile.headquarter"
                [value]="org.profile.headquarter"
              ></app-profile-information-card-entry>
              <app-profile-information-card-entry
                title="Weitere Standorte"
                *ngIf="org.profile.quarters"
                [value]="org.profile.quarters"
              ></app-profile-information-card-entry>
              <app-profile-information-card-entry
                title="Homepage"
                [linkable]="true"
                *ngIf="org.profile.homepage"
                [value]="org.profile.homepage"
              ></app-profile-information-card-entry>
              <app-profile-information-card-entry
                title="Kontakt"
                [linkable]="true"
                *ngIf="org.profile.contactEmail"
                [value]="org.profile.contactEmail"
              ></app-profile-information-card-entry>
            </app-profile-information-card>
          </div>
        </div>
        <div class="col-span-1 md:col-span-3 lg:col-span-4" *ngIf="org.profile.branches; let branches">
          <app-profile-card>
            <app-profile-card-header [icon]="faBullseye">
              <app-profile-card-title>Branchen</app-profile-card-title>
            </app-profile-card-header>
            <app-profile-card-content>
              <ng-container *ngIf="branches.length > 0; else noBranches">
                <mat-chip-list>
                  <mat-chip *ngFor="let branch of branches" selected>{{ branch }}</mat-chip>
                </mat-chip-list>
              </ng-container>
              <ng-template #noBranches><i>Keine Branchen angegeben</i></ng-template>
            </app-profile-card-content>
          </app-profile-card>
        </div>
      </div>

      <!-- Shash / Vita -->
      <div class="w-full" *ngIf="org.profile.vita && org.profile.vita.trim().length > 0">
        <app-sash>
          <app-sash-title>Beschreibung</app-sash-title>
          <app-sash-content>{{ org.profile.vita }}</app-sash-content>
        </app-sash>
      </div>
    </div>
  </div>
</ng-container>
