<div>
  <div
    *ngIf="showEditRow"
    class="
      sticky
      top-0
      z-50
      flex flex-row-reverse
      pb-4
      px-4
      lg:px-16
      xl:px-32
      2xl:px-64
    "
  >
    <button mat-raised-button color="primary" [routerLink]="'edit'">
      <mat-icon>edit</mat-icon> Bearbeiten
    </button>
  </div>
  <div class="flex flex-col gap-10 items-center justify-center">
    <!-- Profile Information -->
    <div
      class="
        grid grid-cols-1
        md:grid-cols-3
        lg:grid-cols-4
        gap-4
        px-4
        lg:px-16
        xl:px-32
        2xl:px-64
      "
    >
      <div
        class="col-span-1 md:col-span-3 lg:col-span-4"
        *ngIf="carouselImages && carouselImages.length > 0"
      >
        <app-profile-carousel [images]="carouselImages"></app-profile-carousel>
      </div>
      <div class="col-span-1">
        <app-profile-avatar-card
          [avatar]="profile.avatarUrl"
          [title]="profile.title"
          [subtitle]="profile.subtitle"
          [socialMedia]="profile.socialMedia"
        ></app-profile-avatar-card>
      </div>
      <div class="col-span-1 md:col-span-2 lg:col-span-3">
        <div class="flex flex-col gap-4">
          <app-profile-information-card
            *ngIf="profile.about"
            [entries]="profile.about"
          >
          </app-profile-information-card>
          <app-profile-language-card [languages]="profile.languages">
          </app-profile-language-card>
        </div>
      </div>
      <div class="col-span-1 md:col-span-3 lg:col-span-4">
        <app-profile-focus-subjects
          [subjects]="profile.focusSubjects"
        ></app-profile-focus-subjects>
      </div>
    </div>

    <!-- Shash / Vita -->
    <div *ngIf="sash && sash.text.trim().length > 0">
      <app-sash>
        <app-sash-title>{{ sash.title }}</app-sash-title>
        <app-sash-content [innerText]="sash.text"></app-sash-content>
      </app-sash>
    </div>
    <div
      class="
        grid grid-cols-1
        lg:grid-cols-2
        gap-4
        px-4
        lg:px-16
        xl:px-32
        2xl:px-64
        w-full
      "
    >
      <div
        class="col-span-1 lg:col-span-2"
        *ngIf="publications && publications.length > 0"
      >
        <app-profile-publications-card
          [publications]="publications"
        ></app-profile-publications-card>
      </div>
      <div class="col-span-1">
        <app-profile-projects-card
          [projects]="availableProjects"
        ></app-profile-projects-card>
      </div>
      <div class="col-span-1">
        <app-profile-jobs-card [jobs]="availableJobs"> </app-profile-jobs-card>
      </div>
      <div class="lg:col-span-2">
        <app-profile-project-history
          *ngIf="projectHistory && projectHistory.length > 0"
        >
          <app-profile-project-history-item
            *ngFor="let project of projectHistory"
            [project]="project"
          ></app-profile-project-history-item>
        </app-profile-project-history>
      </div>
    </div>
  </div>
</div>
