<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Stellenangebote</app-content-page-title>
    <app-content-page-actions>
      <button
        *ngIf="this.hasPermission | async"
        [routerLink]="['./create']"
        mat-icon-button
        matTooltip="Neues Stellenangebot hinzufügen"
        class="no-hover"
      >
        <mat-icon id="add"> add </mat-icon>
      </button>
    </app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
      <div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Suchfilter</mat-panel-title>
            <mat-panel-description
              >Nach Stellenangeboten suchen</mat-panel-description
            >
            <mat-icon>search</mat-icon>
          </mat-expansion-panel-header>
          <form
            class="search-form"
            fxLayout="column"
            [formGroup]="searchForm"
            (ngSubmit)="searchJobOffers()"
          >
            <div
              class="search-row"
              fxLayout="row"
              fxLayout.lt-md="column"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
              fxLayoutGap.lt-md="0"
              fxLayoutAlign.lt-md=" stretch"
            >
              <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
                <mat-select
                  placeholder="Beschäftigungsart"
                  formControlName="selectedJobTypes"
                  multiple
                >
                  <mat-option
                    *ngFor="let type of this.allJobOfferTypes | async"
                    [value]="type"
                  >
                    {{ type.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
                <mat-select
                  placeholder="Einstiegslevel"
                  formControlName="selectedEntryLevel"
                  multiple
                >
                  <mat-option
                    *ngFor="
                      let entryLevel of this.allJobOfferEntryLevels | async
                    "
                    [value]="entryLevel"
                  >
                    {{ entryLevel.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="search-row" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field class="search" fxFlex="100%">
                <label>
                  <input
                    formControlName="searchString"
                    placeholder="Suchtext"
                    matInput
                  />
                </label>
              </mat-form-field>
            </div>
            <button mat-flat-button color="primary" type="submit">
              Suchen
            </button>
          </form>
        </mat-expansion-panel>
      </div>
      <app-job-item
        *ngFor="let jobOffer of jobOffers"
        [jobOffer]="jobOffer"
        (jobOfferDeleted)="this.jobOfferDeleted($event)"
      ></app-job-item>
    </div>
  </app-content-page-content>
</app-content-page>
