<mat-card>
  <mat-card-title-group>
    <img mat-card-md-image [src]="imgSrc" (error)="this.imgSrc = '/assets/images/blank-profile-picture.png'" alt="Organization avatar" />
    <mat-card-title>
      {{ organization.name }}
    </mat-card-title>
  </mat-card-title-group>
  <ng-container *ngIf="organization.permissions.canEdit || organization.permissions.canViewMembers">
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-flat-button (click)="editOrganization(organization)" *ngIf="organization.permissions.canEdit">
        <mat-icon>edit</mat-icon>
        Bearbeiten
      </button>
      <button mat-flat-button [routerLink]="[organization.id, 'members']" *ngIf="organization.permissions.canViewMembers">
        <mat-icon>groups</mat-icon>
        Mitglieder
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
