<mat-form-field class="w-full" [appearance]="appearance">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #tagList>
    <mat-chip-row *ngFor="let tag of _tags" [removable]="true" (removed)="removeTag(tag)">
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-row>

    <mat-chip-row *ngFor="let tag of tagRecommendations$ | async" (click)="addTag(tag.tagName)" class="recommended-tag">
      {{ tag.tagName }}
    </mat-chip-row>

    <input
      #tagInput
      [formControl]="tagInputCtrl"
      placeholder="Tags"
      [matAutocomplete]="tagAuto"
      [matChipInputFor]="tagList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addTagEvent($event)"
    />
  </mat-chip-grid>

  <mat-autocomplete #tagAuto="matAutocomplete" (optionSelected)="selectedTag($event)">
    <mat-option *ngFor="let tag of tagAutocomplete$ | async" [value]="tag.tagName">
      {{ tag.tagName }} <span class="text-stone-400" *ngIf="tag.count > 0">(x{{ tag.count }})</span>
    </mat-option>
  </mat-autocomplete>
  <mat-hint>Trennen der Eingabe mit Enter oder Komma</mat-hint>
</mat-form-field>
