<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Meine Organisationen</app-content-page-title>
    <app-content-page-actions>
      <button
        mat-fab
        color="primary"
        *ngIf="canCreateOrg"
        [routerLink]="['/organizations/new']"
      >
        <mat-icon>add</mat-icon>
      </button>
    </app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
    fxLayoutGap="10px"
  >
    <organization-list-item
      orgName="Innovation Hub Bergisches Rheinland e.V."
      orgLogo="./assets/images/ihbr-logo.svg"
      [isOwner]="true"
    ></organization-list-item>
    <organization-list-item
      orgName="Musterfirma GmbH & Co. KG"
      orgLogo="https://api.dev.prox.innovation-hub.de/companies/6d6f9481-9530-4412-8bfc-ad70c0b6aca3/logo"
      [isOwner]="false"
    ></organization-list-item>
    <!--<organization-list-item
      *ngFor="let org of organizations"
      [orgName]="org.name"
      [isOwner]="org.isOwner"
    >
    </organization-list-item>-->
  </app-content-page-content>
</app-content-page>
