<div>
  <h1 mat-dialog-title>
    <mat-toolbar class="task-header" role="toolbar">
      <h1 *ngIf="organization; else noProject" mat-dialog-title>Organisation bearbeiten</h1>
      <ng-template #noProject><h1 mat-dialog-title>Organisation erstellen</h1></ng-template>
      <span class="flex flex-1"></span>
      <button (click)="closeDialog()" mat-icon-button>
        <mat-icon mat-list-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </h1>

  <mat-dialog-content>
    <app-organization-editor
      (cancel)="closeDialog()"
      (save)="organizationSaved($event)"
      [organization]="organization"
    ></app-organization-editor>
  </mat-dialog-content>
</div>
