<app-card>
  <h2>Empfehlungen</h2>
  <div class="flex flex-row justify-between gap-2">
    <ng-container *ngIf="types.includes('lecturer')">
      <app-recommendation-list class="basis-1/3" title="Lehrende">
        <app-recommendation-list-entry
          class="hover:cursor-pointer"
          *ngFor="let lecturer of lecturerRecommendations"
          [imgUrl]="lecturer.item.avatarUrl"
          [title]="lecturer.item.displayName"
          [tags]="lecturer.item.tags"
          [routerLink]="['/users', lecturer.item.userId]"
        ></app-recommendation-list-entry>
      </app-recommendation-list>
    </ng-container>
    <ng-container *ngIf="types.includes('organization')">
      <app-recommendation-list class="basis-1/3" title="Unternehmen und Organisationen">
        <app-recommendation-list-entry
          *ngFor="let organization of organizationRecommendations"
          [imgUrl]="organization.item.logoUrl"
          [title]="organization.item.name"
          [tags]="organization.item.tags"
          [routerLink]="['/organizations', organization.item.id]"
        ></app-recommendation-list-entry>
      </app-recommendation-list>
    </ng-container>
    <ng-container *ngIf="types.includes('project')">
      <app-recommendation-list class="basis-1/3" title="Projekte">
        <app-recommendation-list-entry
          *ngFor="let project of projectRecommendations"
          [title]="project.item.title"
          [tags]="project.item.tags"
          [routerLink]="['/projects', project.item.id]"
        ></app-recommendation-list-entry>
      </app-recommendation-list>
    </ng-container>
  </div>

  <ng-template #noTags>Es können keine Empfehlungen angezeigt werden, da keine Tags angegeben wurden.</ng-template>
  <ng-template #noRecommendations>Es konnten keine Empfehlungen identifiziert werden.</ng-template>
</app-card>
