<app-card>
  <h2>Empfehlungen</h2>
  <app-text-banner>
    In diesem Bereich finden Sie Empfehlungen für Lehrende, Unternehmen und Projekte, die passende Ergänzungen wären. Sie können diese bspw.
    dafür nutzen, um Kontakt zu einem Lehrenden als Betreuer aufzunehmen, Kooperationen mit Projektpartnern anzufragen oder Verbundprojekte
    zu gestalten.
    <br />
    Als primäre Datenbasis dafür werden Tags verwendet, die in PROX hinterlegt werden.
  </app-text-banner>
  <mat-tab-group class="mt-2">
    <mat-tab *ngIf="types.includes('lecturer')" [label]="'Lehrende ' + '(' + lecturerRecommendations?.length + ')'">
      <app-recommendation-list>
        <app-recommendation-list-entry
          *ngFor="let lecturer of lecturerRecommendations"
          [imgUrl]="lecturer.item.avatarUrl"
          [tags]="lecturer.item.tags"
          [routerLink]="['/users', lecturer.item.userId]"
        >
          <a appRecommendationListEntryTitle [routerLink]="['/users', lecturer.item.userId]">{{ lecturer.item.displayName }}</a>
        </app-recommendation-list-entry>
      </app-recommendation-list>
    </mat-tab>
    <mat-tab
      *ngIf="types.includes('organization')"
      [label]="'Unternehmen und Organisationen ' + '(' + organizationRecommendations?.length + ')'"
    >
      <app-recommendation-list>
        <app-recommendation-list-entry
          *ngFor="let organization of organizationRecommendations"
          [imgUrl]="organization.item.logoUrl"
          [title]="organization.item.name"
          [tags]="organization.item.tags"
        >
          <a appRecommendationListEntryTitle [routerLink]="['/organizations', organization.item.id]">{{ organization.item.name }}</a>
        </app-recommendation-list-entry>
      </app-recommendation-list>
    </mat-tab>
    <mat-tab *ngIf="types.includes('project')" [label]="'Projekte ' + '(' + projectRecommendations?.length + ')'">
      <app-recommendation-list>
        <app-recommendation-list-entry
          *ngFor="let project of projectRecommendations"
          [title]="project.item.title"
          [tags]="project.item.tags"
        >
          <a appRecommendationListEntryTitle [routerLink]="['/projects', project.item.id]">{{ project.item.title }}</a>
        </app-recommendation-list-entry>
      </app-recommendation-list>
    </mat-tab>
  </mat-tab-group>
</app-card>
