<form [formGroup]="avatarFormGroup">
  <div class="flex flex-col items-center gap-4">
    <div class="w-1/4">
      <img class="object-scale-down" alt="Avatar" [src]="imgSrc" onerror="this.src='/assets/images/blank-profile-picture.png'" />
    </div>
    <div class="w-1/4">
      <input
        #avatarInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="onFileChange($event)"
        accept="image/png, image/jpeg"
      />
      <button class="upload-button" mat-flat-button color="primary" (click)="avatarInput.click()">Ein Avatar hochladen</button>
    </div>
  </div>
</form>
