<ng-container *ngIf="user$ | async; let user; else: loading">
  <div class="mx-auto max-w-screen-lg flex flex-col gap-4">
    <app-profile-header-card
      (onEditClicked)="editProfile(user)"
      [imageSrc]="avatar"
      [roundedAvatar]="true"
      [showEdit]="isOwnProfile"
      [tags]="user.subjects"
      [title]="user.name"
    ></app-profile-header-card>
    <app-profile-information-card>
      <app-profile-information-card-entry
        *ngIf="user.affiliation"
        [value]="user.affiliation"
        title="Hochschulzugehörigkeit seit"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.mainSubject"
        [value]="user.mainSubject"
        title="Lehrgebiet"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.contactInformation?.room"
        [value]="user.contactInformation.room"
        title="Standort, Raum"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.contactInformation?.telephone"
        [linkable]="true"
        [value]="user.contactInformation.telephone"
        title="Telefonnummer"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.contactInformation?.email"
        [linkable]="true"
        [value]="user.contactInformation.email"
        title="E-Mail"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.contactInformation?.homepage"
        [linkable]="true"
        [value]="user.contactInformation.homepage"
        title="Homepage"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.contactInformation?.consultationHour"
        [linkable]="true"
        [value]="user.contactInformation.consultationHour"
        title="Sprechstunde"
      ></app-profile-information-card-entry>
      <app-profile-information-card-entry
        *ngIf="user.contactInformation?.collegePage"
        [linkable]="true"
        [value]="user.contactInformation.collegePage"
        title="Personalseite"
      ></app-profile-information-card-entry>
    </app-profile-information-card>
  </div>
  <app-sash *ngIf="user.vita" class="mt-4">
    <app-sash-title>Werdegang</app-sash-title>
    <app-sash-content>{{ user.vita }}</app-sash-content>
  </app-sash>
  <div class="mx-auto max-w-screen-lg flex flex-col gap-4 mt-4">
    <app-profile-publications-card
      *ngIf="user.publications && user.publications.length > 0"
      [publications]="user.publications"
    ></app-profile-publications-card>
    <ng-container *ngIf="offeredProjects$ | async; let projects">
      <app-profile-projects-card [projects]="projects" class="w-full"></app-profile-projects-card>
    </ng-container>
    <ng-container *ngIf="projectHistory$ | async; let projectHistory">
      <app-profile-project-history *ngIf="projectHistory && projectHistory.length > 0">
        <app-profile-project-history-item *ngFor="let project of projectHistory" [project]="project"></app-profile-project-history-item>
      </app-profile-project-history>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading> Loading...</ng-template>
