<mat-stepper linear>
  <mat-step [stepControl]="projectInformationFormGroup">
    <ng-template matStepLabel>Informationen</ng-template>
    <app-project-editor-information [informationFormGroup]="projectInformationFormGroup" [isEdit]="isEdit"></app-project-editor-information>
    <div class="flex flex-row justify-end">
      <button mat-button matStepperNext color="primary" [disabled]="projectInformationFormGroup.invalid">Weiter</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="projectCurriculumFormGroup">
    <ng-template matStepLabel>Modulzuordnung</ng-template>
    <app-project-editor-module [moduleFormGroup]="projectCurriculumFormGroup"> </app-project-editor-module>
    <div class="flex flex-row justify-end">
      <button mat-button matStepperPrevious color="accent">Zurück</button>
      <button mat-button matStepperNext color="primary" [disabled]="projectCurriculumFormGroup.invalid">Weiter</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="projectMiscFormGroup">
    <ng-template matStepLabel>Ergänzende Informationen</ng-template>
    <app-project-editor-misc [miscFormGroup]="projectMiscFormGroup"></app-project-editor-misc>
    <div class="flex flex-row justify-end">
      <button mat-button matStepperPrevious color="accent">Zurück</button>
      <button mat-button color="primary" (click)="onSave()" [disabled]="projectForm.invalid">Speichern</button>
    </div>
  </mat-step>
</mat-stepper>
