<form [formGroup]="userProfileInformationForm" class="flex flex-col">
  <section class="mb-4">
    <mat-checkbox
      matTooltip="Diese Einstellung verbirgt Ihr Profil aus öffentlichen Suchen. Ihr Profil ist weiterhin unter dem Direktlink sichtbar und Sie werden
    als Betreuer bei verknüpften Projekten gelistet."
      formControlName="visibleInPublicSearch"
      >Profil in öffentlichen Suchen anzeigen</mat-checkbox
    >
  </section>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput maxlength="255" placeholder="Name" required />
    <mat-hint align="end"> {{ userProfileInformationForm.controls['name'].value?.length || 0 }}/255</mat-hint>
    <mat-error *ngIf="userProfileInformationForm.controls['name'].hasError('required')"> Name <strong>fehlt</strong>! </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Homepage</mat-label>
    <input formControlName="homepage" matInput maxlength="255" placeholder="Homepage" />
    <mat-hint align="end"> {{ userProfileInformationForm.controls['homepage'].value?.length || 0 }}/255</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input formControlName="email" matInput maxlength="255" placeholder="E-Mail" />
    <mat-hint align="end"> {{ userProfileInformationForm.controls['email'].value?.length || 0 }}/255</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Telefon</mat-label>
    <input formControlName="telephone" matInput maxlength="255" placeholder="Telefon" />
    <mat-hint align="end"> {{ userProfileInformationForm.controls['telephone'].value?.length || 0 }}/255</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Personalseite der Hochschule</mat-label>
    <input formControlName="collegePage" matInput maxlength="255" placeholder="Personalseite der Hochschule" />
    <mat-hint align="end"> {{ userProfileInformationForm.controls['collegePage'].value?.length || 0 }}/255</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Werdegang</mat-label>
    <textarea
      cdkAutosizeMaxRows="30"
      cdkAutosizeMinRows="5"
      cdkTextareaAutosize
      formControlName="vita"
      matInput
      matInput
      placeholder="Werdegang"
    ></textarea>
  </mat-form-field>
</form>
