<div>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>Studiengänge</mat-panel-title>
      <mat-panel-description
        >An- und Abwählen von Studiengängen zum Filtern der
        Modularten</mat-panel-description
      >
    </mat-expansion-panel-header>
    <ul class="studyProgramsList">
      <li *ngFor="let studyProgram of studyPrograms$ | async">
        <mat-slide-toggle
          [checked]="studyProgramSelection.isSelected(studyProgram)"
          (change)="studyProgramSelection.toggle(studyProgram)"
        >
          {{ studyProgram.name }}</mat-slide-toggle
        >
      </li>
    </ul>
  </mat-expansion-panel>

  <table
    mat-table
    matSort
    matSortActive="name"
    matSortDirection="asc"
    [dataSource]="filteredModuleTypes$"
    class="mat-elevation-z0 moduleTable"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Auswahl</th>
      <td mat-cell *matCellDef="let module">
        <mat-checkbox [checked]="moduleSelection.isSelected(module)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let module">
        {{ module.name }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let module; columns: displayedColumns"
      (click)="moduleSelection.toggle(module)"
    ></tr>
  </table>
</div>
