<div
  class="slider-content-item-wrapper"
  [className]="
    activeClass() ? 'slider-content-item-active' : 'slider-content-item'
  "
  [@translateSlide]="_position"
  (@translateSlide.start)="onTranslateSlideStart($event)"
  (@translateSlide.done)="onTranslateSlideEnd($event)"
>
  <div class="content-item-wrapper" *ngIf="_displayContent">
    <mat-card>
      <mat-card-header>
        <mat-card-title [innerText]="project.name"></mat-card-title>
        <mat-card-subtitle
          [innerText]="project.supervisorName"
        ></mat-card-subtitle>
        <!-- TODO-->
      </mat-card-header>
      <mat-card-content>
        <p [innerText]="project.shortDescription"></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
