<div class="flex flex-row-reverse gap-2">
  <ng-container>
    <app-project-icon *ngIf="statusIcons[status]; let iconDef" [icon]="iconDef.icon" [tooltip]="iconDef.tooltip"></app-project-icon>
  </ng-container>
  <ng-container>
    <app-project-icon *ngFor="let s of specialization" [icon]="specializationIcons[s.key]" [tooltip]="s.name"></app-project-icon>
  </ng-container>
  <ng-container [ngSwitch]="owner.discriminator">
    <app-project-icon
      *ngSwitchCase="'organization'"
      [icon]="companyIcon"
      data-tip="Projekt in einem Unternehmen"
      class="tooltip"
    ></app-project-icon>
  </ng-container>
</div>
