.trapezoid {
  border-bottom: 10px solid #2d52a0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  max-width: 160px;
  width: 160px;
}

.logo-container {
  width: 160px;
  height: 160px;

  background: linear-gradient(
      180deg,
      #f7f7f7 8.33%,
      rgba(237, 237, 237, 0) 100%
    ),
    #c4c4c4;
}

.logo {
  background-color: white;
  margin: 10px;
  height: 140px;
  width: 140px;
  max-height: 140px;
  max-width: 140px;
  display: flex;
  justify-content: center;
}

:host {
  display: none;
}

:host(.active) {
  display: block;
}
