<div class="btn-group">
  <button class="btn" (click)="pageFirst()" [disabled]="pageIndex <= 0">
    <fa-icon [icon]="iconFirstPage"></fa-icon>
  </button>
  <button class="btn" (click)="pagePrevious()" [disabled]="pageIndex <= 0">
    <fa-icon [icon]="iconPrevious"></fa-icon>
  </button>
  <button
    class="btn"
    (click)="pageIndexed(pageIndex, btn.pageIndex)"
    *ngFor="let btn of paginatorButtons"
    [ngClass]="btn.pageIndex === pageIndex ? 'btn-primary' : ''"
    [disabled]="!btn.enabled"
  >
    {{ btn.display }}
  </button>
  <button class="btn" (click)="pageNext()" [disabled]="pageIndex >= numberOfPages - 1">
    <fa-icon [icon]="iconNextPage"></fa-icon>
  </button>
  <button class="btn" (click)="pageLast()" [disabled]="pageIndex >= numberOfPages - 1">
    <fa-icon [icon]="iconLastPage"></fa-icon>
  </button>
</div>
