<div class="btn-group">
  <button class="btn" (click)="pageFirst()" [disabled]="pageIndex <= 0">
    <fa-icon [icon]="iconFirstPage"></fa-icon>
  </button>
  <button class="btn" (click)="pagePrevious()" [disabled]="pageIndex <= 0">
    <fa-icon [icon]="iconPrevious"></fa-icon>
  </button>
  <button
    class="btn"
    (click)="pageIndexed(pageIndex, page)"
    *ngFor="let page of pageNumbers"
    [ngClass]="page === pageIndex ? 'btn-primary' : ''"
  >
    {{ page + 1 }}
  </button>
  <button class="btn" (click)="pageNext()" [disabled]="pageIndex >= pageNumbers.length - 1">
    <fa-icon [icon]="iconNextPage"></fa-icon>
  </button>
  <button class="btn" (click)="pageLast()" [disabled]="pageIndex >= pageNumbers.length - 1">
    <fa-icon [icon]="iconLastPage"></fa-icon>
  </button>
</div>
