<div
  class="prof-publications-div"
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="publications && publications.length > 0"
>
  <h1>Publikationen</h1>
  <div>
    <div
      *ngFor="let publication of publications | slice: 0:limit; let i = index"
    >
      <p [innerHTML]="publication.publication | linky"></p>
      <button
        color="accent"
        mat-button
        *ngIf="i == limit - 1 && limit < publications.length"
        (click)="limit = publications.length"
      >
        Mehr anzeigen
      </button>
      <button
        color="accent"
        mat-button
        *ngIf="i == limit - 1 && limit >= publications.length"
        (click)="limit = 10"
      >
        Weniger anzeigen
      </button>
    </div>
  </div>
</div>
