<app-content-page *ngIf="project">
  <app-content-page-header>
    <div class="page-title">
      <button (click)="goBack()" matTooltip="Zurück zur Projektübersicht" mat-icon-button color="primary">
        <mat-icon class="back-icon">arrow_back</mat-icon>
      </button>
      <app-project-icons [status]="project.status" [context]="project.context"></app-project-icons>
    </div>
  </app-content-page-header>
  <app-content-page-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <b>{{ project.name }}</b>
        </mat-card-title>

        <mat-card-subtitle *ngIf="isCompanyProject">
          <span class="companyName" matTooltip="Unternehmen">
            <b [innerHTML]="projectCompany"></b>
          </span>
        </mat-card-subtitle>

        <mat-card-subtitle>
          <span class="supervisorName" matTooltip="Projektbetreuer">
            <b [innerHTML]="getProjectSupervisors()"></b>
          </span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-card-subtitle> Kurze Projektbeschreibung: </mat-card-subtitle>

        <div>
          <p [innerHTML]="project.shortDescription | linky"></p>
        </div>

        <mat-card-subtitle> Projektbeschreibung: </mat-card-subtitle>

        <div>
          <p [innerHTML]="project.description | linky"></p>
        </div>

        <div class="card-container-wrapper">
          <div class="card-container">
            <mat-card-subtitle> Teilnahmevoraussetzungen: </mat-card-subtitle>

            <p *ngIf="!project.requirement">Keine Teilnahmevoraussetzungen</p>

            <p>{{ project.requirement }}</p>
          </div>

          <div class="card-container">
            <mat-card-subtitle> Projekttypen: </mat-card-subtitle>

            <p *ngFor="let module of project.modules">
              <strong>({{ module.key }})</strong> {{ module.name }}
            </p>
          </div>
          <div class="card-container">
            <mat-card-subtitle>Erstellt am:</mat-card-subtitle>
            <p>{{ project.createdAt | date: 'YYYY-MM-dd' }}</p>
          </div>
        </div>

        <mat-card-subtitle>
          <mat-chip-list *ngIf="projectTags$ | async as tags; else noTags">
            <mat-chip selected *ngFor="let tag of tags" matTooltip="{{ tag.tagName }}">{{ tag.tagName }} </mat-chip>
          </mat-chip-list>
          <ng-template #noTags>
            <mat-chip color="primary" selected> Keine Tags vorhanden </mat-chip>
          </ng-template>
        </mat-card-subtitle>
      </mat-card-content>

      <mat-divider *ngIf="hasProjectPermission(project)"></mat-divider>

      <mat-card-actions dir="rtl">
        <button
          (click)="deleteProject(project)"
          *ngIf="hasProjectPermission(project)"
          class="no-hover"
          id="project-remove-button"
          mat-icon-button
          color="warn"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>

        <button
          (click)="openProjectDialog(project)"
          *ngIf="hasProjectPermission(project)"
          class="no-hover"
          id="project-edit-button"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </app-content-page-content>
</app-content-page>
