<app-content-page *ngIf="project">
  <app-content-page-header>
    <div>
      <app-back-button (click)="goBack()" matTooltip="Zurück zur Projektübersicht"></app-back-button>
    </div>
  </app-content-page-header>
  <app-content-page-content>
    <div class="flex flex-col gap-4">
      <app-project-card
        [showDetails]="true"
        [project]="project"
        (deleted)="goBack()"
        (tagClicked)="navigateToTagSearch($event)"
      ></app-project-card>
      <app-recommendation-card
        href="#recommendations"
        *ngIf="projectRecommendations$ | async; let recommendations"
        [projectRecommendations]="recommendations.projects"
        [organizationRecommendations]="recommendations.organizations"
        [lecturerRecommendations]="recommendations.lecturers"
      ></app-recommendation-card>
    </div>
  </app-content-page-content>
</app-content-page>
