<div class="project-dialog">
  <h1 mat-dialog-title>
    <mat-toolbar class="task-header" role="toolbar">
      <h1 *ngIf="proposal; else noProposal" mat-dialog-title>Idee bearbeiten</h1>
      <ng-template #noProposal>
        <h1 mat-dialog-title>Idee einreichen</h1>
      </ng-template>
      <span class="fx-spacer"></span>
      <button (click)="closeDialog()" mat-icon-button>
        <mat-icon mat-list-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </h1>

  <mat-dialog-content>
    <app-proposal-editor (cancel)="closeDialog()" (saved)="proposalSaved($event)" [proposal]="proposal"> </app-proposal-editor>
  </mat-dialog-content>
</div>
