h1 {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell {
  word-wrap: break-word;
}

.mat-column-title {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-types .mat-column-levels {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  min-width: 30ch;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
