.project-list {
  margin-top: 70px;
  margin-left: 20px;
  /*margin-right: 20px;*/
  padding-bottom: 20px;
}

@media (max-width: 1085px) {
  .project-list {
    margin-right: 20px;
  }
}

.mat-card-subtitle {
  margin-bottom: 0;
  color: var(--th-red);
}

.mat-button {
  margin-bottom: 5px !important;
  font-size: 1em;
  color: var(--th-purple);
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  color: var(--th-red);
  padding-top: 15px;
}

h2 {
  margin: 0;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li:before {
  content: '';
  border-color: transparent var(--th-red);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.project-list-header {
  display: block;
  max-width: 1032px;
  margin: 15px auto;
}

.mat-form-field {
  margin-left: 30px;
}

.mat-icon-button {
  float: right;
  margin-top: 0;
}

.mat-icon-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.mat-icon {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5),
    inset 0 2px 0 rgba(255, 255, 255, 0.25);
  color: #696969;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: center;
}

.mat-card-avatar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-icon {
  background: var(--th-orange);
  color: white;
  border: none;
  margin-left: 20px;
  margin-top: 10px;
}

.filter-icon:hover {
  background: var(--th-orange);
  color: white;
  border: none;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.button-toggle-description {
  text-align: center;
}

.status-search {
  width: 135px;
}

.type-search {
  width: 50px;
}

.search {
  width: 215px;
}

.hint {
  margin-top: -10px;
  padding-bottom: 10px;
}

.extended-search-title {
  margin: 15px 0 5px 0;
}

.list {
  margin-top: 0;
  padding-top: 0;
}

.description {
  margin-bottom: 0;
  margin-top: 7px;
}
