<app-content-page>
  <app-content-page-header>
    <app-content-page-title> Projekte </app-content-page-title>
    <app-content-page-actions></app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content>
    <div class="flex flex-row gap-4">
      <app-project-search-panel class="flex-1" (search)="filter($event)" [searchValues]="searchValues"> </app-project-search-panel>
      <ng-container *ngIf="canCreateProject">
        <app-add-button (click)="createNewProject()" data-tip="Neues Projekt hinzufügen" class="tooltip"> </app-add-button>
      </ng-container>
      <mat-divider></mat-divider>
    </div>
    <ng-container *ngIf="activeProjectPage$ | async; let page">
      <div class="flex flex-col gap-6 mt-4 items-stretch">
        <app-project-card
          *ngFor="let project of page.content"
          [showDetails]="false"
          [project]="project"
          (deleted)="deleteProject($event)"
          (tagClicked)="addTagToSearch($event)"
        ></app-project-card>
      </div>
      <div class="flex justify-center items-center mt-10">
        <mat-paginator
          #paginator
          (page)="handlePageEvent($event)"
          [length]="page.totalElements"
          [pageSize]="page.size"
          [pageSizeOptions]="[5, 10, 25]"
          [pageIndex]="page.number"
        >
        </mat-paginator>
      </div>
    </ng-container>
  </app-content-page-content>
</app-content-page>
