<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Projekte</app-content-page-title>
    <app-content-page-actions> </app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
      <mat-expansion-panel fxFlex class="expansion-headers-align" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Suchfilter </mat-panel-title>
          <mat-panel-description> Nach Projekten suchen </mat-panel-description>
          <mat-icon>search</mat-icon>
        </mat-expansion-panel-header>
        <form class="search-form" fxLayout="column" [formGroup]="searchForm" (ngSubmit)="filterProjects()">
          <div
            class="search-row"
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
            fxLayoutGap.lt-md="0"
            fxLayoutAlign.lt-md=" stretch"
          >
            <mat-form-field class="status-search" fxFlex="30%" fxFlex.lt-md="100%">
              <mat-select formControlName="selectedStatusOption" placeholder="Status">
                <mat-option>Alle</mat-option>

                <mat-option *ngFor="let statusOption of statusOptions | keyvalue" [value]="statusOption.key">
                  {{ statusOption.value | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="35%" fxFlex.lt-md="100%">
              <mat-label *ngIf="isLoadingStudyPrograms">
                <div class="select-placeholder-container">
                  <span>Lädt Studiengänge...</span>
                  <mat-spinner class="spinner" diameter="20"></mat-spinner>
                </div>
              </mat-label>
              <mat-select
                placeholder="Studiengänge"
                formControlName="selectedStudyPrograms"
                multiple
                (selectionChange)="filterModuleTypesByStudyProgram($event)"
              >
                <mat-option *ngFor="let studyProgram of suitableStudyPrograms" [value]="studyProgram">{{ studyProgram.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="35%" fxFlex.lt-md="100%">
              <mat-label *ngIf="isLoadingModuleTypes">
                <div class="select-placeholder-container">
                  <span>Lädt Module...</span>
                  <mat-spinner class="spinner" diameter="20"></mat-spinner>
                </div>
              </mat-label>
              <mat-select placeholder="Module" formControlName="selectedModuleTypes" multiple>
                <mat-option *ngFor="let moduleType of suitableModuleTypes" [value]="moduleType">{{ moduleType.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="search-row" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="search" fxFlex="100%">
              <label>
                <input formControlName="searchString" placeholder="Suchtext" matInput />
              </label>
            </mat-form-field>
          </div>
          <div class="search-row" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="tag-list" fxFlex="100%">
              <mat-label>Tags</mat-label>
              <mat-chip-list #tagList>
                <mat-chip *ngFor="let tag of searchTags" [removable]="true" (removed)="removeTag(tag)">
                  {{ tag }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input
                  #tagInput
                  formControlName="searchTagInput"
                  placeholder="Tags"
                  [matAutocomplete]="tagAuto"
                  [matChipInputFor]="tagList"
                />
              </mat-chip-list>

              <mat-autocomplete #tagAuto="matAutocomplete" (optionSelected)="selectedTag($event)">
                <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
                  {{ tag.tagName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <button mat-flat-button color="primary" type="submit">Suchen</button>
        </form>
      </mat-expansion-panel>
      <button
        *ngIf="hasProjectCreationPermission()"
        (click)="openProjectEditorDialog(null)"
        mat-fab
        matTooltip="Neues Projekt hinzufügen"
        color="primary"
      >
        <mat-icon> add </mat-icon>
      </button>
      <mat-divider></mat-divider>
    </div>

    <app-project-item
      *ngFor="let project of projectsPage"
      (editButtonClicked)="openProjectEditorDialog(project)"
      (deleteButtonClicked)="deleteProject(project)"
      [showEditButton]="hasProjectPermission(project)"
      [showDeleteButton]="hasProjectPermission(project)"
      [project]="project"
    ></app-project-item>

    <mat-paginator
      (page)="changePageIndexOrSize($event)"
      [length]="totalFilteredProjects"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[10, 25, 50]"
    ></mat-paginator>
  </app-content-page-content>
</app-content-page>
