.title {
  font-weight: bold;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

h2 {
  margin-top: 0px;
}

.companyLogo {
  display: block;
  max-width: 200px;
  max-height: 200px;
  object-fit: scale-down; //Or cover
  width: auto;
  height: auto;
  margin: auto;
}

.company-logo-div {
  width: 200px;
  height: 200px;
}

.company-info-div {
  color: #000000;
}
