.professor-vita > * {
  text-align: center;
  color: #ffffff;
}

.professor-vita h1 {
  padding-top: 60px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;

  color: #ffffff;
}

.professor-vita p {
  padding-bottom: 60px;
  white-space: pre-wrap;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 110%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

.professor-vita {
  color: #ffffff;
  background: linear-gradient(
      274.88deg,
      var(--th-orange) 13.12%,
      rgba(255, 255, 255, 0) 86.52%
    ),
    var(--th-purple);
}
