<h1 mat-dialog-title>Mitglied hinzufügen</h1>
<div mat-dialog-content>
  <p>
    Suchen Sie hier nach einer Person, die Sie als Mitglied zu Ihrer Organisation hinzufügen möchten. Diese Person muss sich bereits in PROX
    registriert haben.
  </p>
  <form [formGroup]="addMemberForm">
    <app-user-search formControlName="userSearchCtrl" [filter]="activeMemberFilter"></app-user-search>
    <mat-form-field appearance="outline">
      <mat-label>Rolle</mat-label>
      <mat-select formControlName="roleSelectCtrl">
        <mat-option value="MEMBER">Mitglied</mat-option>
        <mat-option value="ADMIN">Administrator</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" color="warn">Abbrechen</button>
  <button mat-button [disabled]="addMemberForm.invalid" (click)="addMember()" color="primary">Mitglied hinzufügen</button>
</div>
