<form [formGroup]="formGroup" class="flex flex-col gap-4">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="w-1/3">
      <app-profile-editor-avatar [avatarFormGroup]="formGroup.controls.avatar"></app-profile-editor-avatar>
    </div>
    <div class="w-2/3">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Anzeigename</mat-label>
        <input formControlName="displayName" matInput maxlength="255" placeholder="Anzeigename" required />
        <mat-hint align="end"> {{ formGroup.controls.displayName.value?.length || 0 }}/255</mat-hint>
        <mat-error *ngIf="formGroup.controls.displayName.hasError('required')"> Anzeigename <strong>fehlt</strong>! </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <textarea
          cdkAutosizeMaxRows="30"
          cdkAutosizeMinRows="10"
          cdkTextareaAutosize
          formControlName="vita"
          matInput
          placeholder="Beschreibung"
        ></textarea>
      </mat-form-field>
      <app-tag-input class="w-full" formControlName="tags"></app-tag-input>
    </div>
  </div>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Kontaktdaten </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input formControlName="email" matInput maxlength="255" placeholder="E-Mail" />
        <mat-hint align="end"> {{ formGroup.controls.email.value?.length || 0 }}/255</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefon</mat-label>
        <input formControlName="telephone" matInput maxlength="255" placeholder="Telefon" />
        <mat-hint align="end"> {{ formGroup.controls.telephone.value?.length || 0 }}/255</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Homepage</mat-label>
        <input formControlName="homepage" matInput maxlength="255" placeholder="Homepage" />
        <mat-hint align="end"> {{ formGroup.controls.homepage.value?.length || 0 }}/255</mat-hint>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</form>
