<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Stellenangebote</app-content-page-title>
    <app-content-page-actions>
      <button
        *ngIf="this.hasPermission | async"
        [routerLink]="['/jobs/create']"
        mat-icon-button
        matTooltip="Neues Stellenangebot hinzufügen"
        class="no-hover"
      >
        <mat-icon id="add"> add </mat-icon>
      </button>
    </app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content>
    <app-job-item
      [jobOffer]="this.jobOffer | async"
      (jobOfferDeleted)="this.jobOfferDeleted($event)"
    ></app-job-item>
  </app-content-page-content>
</app-content-page>
