<app-content-page *ngIf="organization$ | async; let organization">
  <app-content-page-header>
    <div class="page-title">
      <ng-container>
        <app-back-button (click)="location.back()" data-tip="Zurück" class="tooltip"></app-back-button>
      </ng-container>
    </div>
    <app-content-page-title> Mitglieder von {{ organization.name }} </app-content-page-title>
    <app-content-page-actions *ngIf="hasPermission">
      <app-add-button (click)="openMemberAddDialog()" data-tip="Mitglied hinzufügen" class="tooltip"></app-add-button>
    </app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content>
    <mat-card>
      <mat-card-content>
        <app-organization-memberships-list
          (membershipRemoved)="removeMembership($event)"
          (membershipUpdated)="updateMembership($event)"
          [memberships]="organizationMemberships$ | async"
          [showAdminControls]="hasPermission"
          [showControls]="hasPermission"
        ></app-organization-memberships-list>
      </mat-card-content>
    </mat-card>
  </app-content-page-content>
</app-content-page>
