.profile-page-information {
  width: 750px;
}

.profile-page-carousel {
  width: 1000px;
}

.profile-bulletin {
  width: 70%;
}

.profile-chip-list {
  margin-left: 20px;
  margin-right: 20px;
}

.profile-vita {
  width: 100%;
}

.profile-projects-history {
  width: 70%;
}

.profile-available-projects {
  width: 70%;
}

.topBar {
  margin-right: 20px;
  margin-left: auto;
  right: 0;
  position: absolute;
}
