<div>
  <div class="topBar" *ngIf="hasPermission">
    <button mat-raised-button (click)="editProfilePage()">
      <mat-icon>create</mat-icon> Profilseite bearbeiten
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="company">
    <app-profile-page-information
      [information]="companyInformation"
      [socialMedia]="company.socialMedia"
    ></app-profile-page-information>
    <br />
    <app-profile-page-chip-list
      [items]="companyBranches"
    ></app-profile-page-chip-list>
    <br />
    <app-profile-page-vita [vita]="companyVita"></app-profile-page-vita>
    <br />
    <app-company-language-information
      [information]="companyLanguages"
    ></app-company-language-information>
  </div>
  <div *ngIf="!company && hasPermission">
    Sie haben noch kein Profil eingerichtet, Sie können das mit einem Klick auf
    den Button "Profilseite bearbeiten" tun.
  </div>
</div>
