.profile-page-information {
  width: 750px;
}

.profile-bulletin {
  width: 70%;
}

.profile-vita {
  width: 100%;
}

.topBar {
  margin-right: 20px;
  margin-left: auto;
  right: 0;
  position: absolute;
}
