<div>
  <div class="topBar" *ngIf="hasPermission">
    <button mat-raised-button (click)="editProfilePage()">
      <mat-icon>create</mat-icon> Profilseite bearbeiten
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="company">
    <app-profile-page-carousel> </app-profile-page-carousel>
    <app-profile-page-information
      [information]="companyInformation"
      [socialMedia]="company.socialMedia"
    ></app-profile-page-information>
    <br />
    <app-profile-page-chip-list
      [items]="companyBranches"
    ></app-profile-page-chip-list>
    <br />
    <app-profile-page-vita [vita]="companyVita"></app-profile-page-vita>
    <br />
    <app-company-language-information
      [information]="companyLanguages"
    ></app-company-language-information>
    <app-profile-page-job-offers
      *ngIf="jobOffers"
      [jobOffers]="this.jobOffers"
    ></app-profile-page-job-offers>
    <app-profile-page-available-projects
      [projects]="availableProjects$"
    ></app-profile-page-available-projects>
    <app-profile-page-projects-history
      *ngIf="projectHistory && projectHistory.length > 0"
    >
      <app-profile-page-projects-history-item
        *ngFor="let project of projectHistory"
        [project]="project"
      ></app-profile-page-projects-history-item>
    </app-profile-page-projects-history>
  </div>
  <div *ngIf="!company && hasPermission">
    Sie haben noch kein Profil eingerichtet, Sie können das mit einem Klick auf
    den Button "Profilseite bearbeiten" tun.
  </div>
</div>
