<div class="flex flex-row justify-between">
  <div class="flex flex-col">
    <strong class="text-lg font-bold text-black basis-3/4">{{ project.title }}</strong>
    <span class="text-secondary" matTooltip="Projektbetreuer" *ngIf="project.supervisors">
      <ng-container *ngIf="project.supervisors.length > 0; else noSupervisor">
        <strong>Betreuer: </strong>
        <ng-container *ngFor="let supervisor of project.supervisors">
          <a class="mr-2" [routerLink]="['/users', supervisor.id]">
            <strong [innerHTML]="supervisor.name"></strong>
          </a>
        </ng-container>
      </ng-container>
      <ng-template #noSupervisor>
        <em><strong>Kein Betreuer angegeben</strong></em>
      </ng-template>
    </span>
    <span class="text-secondary" matTooltip="Projektpartner" *ngIf="project.partner">
      <strong>Projektpartner: </strong>
      <a class="mr-2" [routerLink]="['/organizations', project.partner.id]">
        <strong [innerHTML]="project.partner.name"></strong>
      </a>
    </span>
  </div>
  <app-project-icons
    class="basis-1/4 flex-initial"
    [disciplines]="project.curriculumContext?.disciplines"
    [status]="project.status"
    [partner]="project.partner"
  ></app-project-icons>
</div>
