<div fxLayout="column" fxLayoutAlign="space-around center">
  <app-professor-information></app-professor-information>
  <app-professor-vita></app-professor-vita>
  <app-professor-research></app-professor-research>
  <app-professor-publications></app-professor-publications>
  <app-professor-running-projects></app-professor-running-projects>
  <app-professor-projects-history>
    <app-professor-projects-history-item></app-professor-projects-history-item>
    <app-professor-projects-history-item></app-professor-projects-history-item>
    <app-professor-projects-history-item></app-professor-projects-history-item>
    <app-professor-projects-history-item></app-professor-projects-history-item>
    <app-professor-projects-history-item></app-professor-projects-history-item>
  </app-professor-projects-history>
</div>
