.prof-projects-history {
  max-width: 1000px;
}

.prof-information {
  max-width: 1000px;
}

.prof-publications {
  max-width: 1000px;
}

.prof-research {
  max-width: 1000px;
}

.prof-running-projects {
  max-width: 1000px;
}

.topBar {
  margin-right: 20px;
  margin-left: auto;
  right: 0;
  position: absolute;
  z-index: 2;
}
