<div class="project-list">
  <div class="project-list-header">
    <h1>
      Projekte
      <button
        (click)="openProjectEditorDialog(null)"
        *ngIf="hasPermission"
        class="no-hover"
        mat-icon-button
        matTooltip="Neues Projekt hinzufügen"
      >
        <mat-icon>add</mat-icon>
      </button>
    </h1>
    <div class="left">
      <mat-form-field class="status-search">
        <mat-select
          (selectionChange)="getFilterProjects()"
          placeholder="Status"
          [(value)]="selectedSearchStatus"
        >
          <mat-option
            *ngFor="let status of availableStatus"
            [value]="status.name"
            >{{ status.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="right">
      <mat-icon
        (click)="alterExtendedSearch()"
        matTooltip="Erweiterte Suche"
        class="filter-icon"
        >filter_list
      </mat-icon>
      <!-- help_outline -->
    </div>
    <span class="middle">
      <mat-form-field class="search">
        <label>
          <input
            (keydown)="alterSearchChange(true)"
            (change)="getFilterProjects()"
            matInput
            [placeholder]="
              searchChange
                ? 'Suche (Drücken Sie Enter um die Suche zu bestätigen)'
                : 'Suche'
            "
            [(ngModel)]="search"
          />
        </label>
      </mat-form-field>
    </span>
    <div *ngIf="showExtendedSearch">
      <mat-card-subtitle
        ><h2>
          <b>Erweiterte Suche <small>(Profi)</small></b>
        </h2></mat-card-subtitle
      >
      <p class="description">
        <b>Suchmöglichkeiten: </b> Beschreibung, Betreuer, Tag, Titel,
        Voraussetzung
      </p>
      <ul class="list">
        <li>
          <u>Suche:</u> ' Betreuer="Bente" Tag="architektur" Tag="software" '
        </li>
        <li>
          <u>Ergebnis:</u> Explizit alle Projekte, deren Betreuer "Bente" sowie
          den Tag "architektur" und "software" enthält.
        </li>
      </ul>
      <mat-divider></mat-divider>
      <mat-card-subtitle
        ><h2 class="extended-search-title">
          <b>Erweiterte Suche <small>(Anfänger)</small></b>
        </h2>
      </mat-card-subtitle>
      <div class="left">
        <mat-form-field class="status-search">
          <mat-select
            placeholder="Bereich"
            [(value)]="selectedSearchOption"
            [formControl]="addSearchQueryForm.controls['searchQueryType']"
          >
            <mat-option
              *ngFor="let searchOption of availableSearchOptions"
              [value]="searchOption"
              >{{ searchOption }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="right">
        <mat-icon
          (click)="addSearchOption()"
          matTooltip="Hinzufügen"
          class="filter-icon"
          >add
        </mat-icon>
      </div>
      <span class="middle">
        <mat-form-field class="search">
          <label>
            <input
              (keyup.enter)="addSearchOption()"
              [formControl]="addSearchQueryForm.controls['searchQuery']"
              matInput
              placeholder="Suche"
              id="searchQuery"
              name="searchQuery"
            />
          </label>
        </mat-form-field>
      </span>
      <div class="hint">
        <small *ngIf="selectedSearchOption === SearchOption.Tag"
          ><b>Hinweis: </b>
          <i
            >Es können mehrere Tags gleichzeitig hinzugefügt werden, indem diese
            durch Kommas getrennt werden.</i
          ></small
        >
        <small *ngIf="selectedSearchOption === SearchOption.Betreuer"
          ><b>Hinweis: </b>
          <i
            >Es können mehrere Betreuer gleichzeitig hinzugefügt werden, indem
            diese durch Kommas getrennt werden.</i
          ></small
        >
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>

  <app-project-list-item
    *ngFor="let project of projects"
    [project]="project"
    [showEditButton]="hasPermission"
    (editButtonClicked)="openProjectEditorDialog(project)"
    [showDeleteButton]="hasPermission"
    (deleteButtonClicked)="deleteProject(project)"
  >
  </app-project-list-item>

  <mat-paginator
    [length]="totalProjects"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 25, 50]"
    (page)="pageEvent($event)"
  >
  </mat-paginator>
</div>
