.company-branches-div {
  color: #000000;
}

.company-branches-div ul {
  column-count: 2;
  column-gap: 35px;
  list-style: none;
}

@media (max-width: 480px) {
  .company-branches-div ul {
    column-count: 1;
  }
}

.company-branches-div li {
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-branches-div li::before {
  content: '•';
  font-size: 50px;
  margin-right: 10px;
}
