<div>
  <div class="topBar" *ngIf="hasPermission">
    <button mat-raised-button (click)="editProfilePage()">
      <mat-icon>create</mat-icon> Profilseite bearbeiten
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="company">
    <app-company-information [company]="company"></app-company-information>
    <app-company-branches [company]="company"></app-company-branches>
    <app-company-vita
      *ngIf="company.information.vita"
      [vita]="company.information.vita"
    ></app-company-vita>
  </div>
</div>
