<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Impressum</app-content-page-title>
  </app-content-page-header>
  <app-content-page-content>
    <p>
      <strong>Angaben gemäß §5 TMG:&nbsp;&nbsp;</strong><br />Innovation Hub Bergisches RheinLand e.V. (InnoHub e.V.)&nbsp;<br />Kirchstr.
      6, 51647 Gummersbach<br />&nbsp;<br />E-Mail: info@innovation-hub.de&nbsp;<br />Tel.: 02261 5495790&nbsp;<br />Fax: 02261 9584970
    </p>
    <p>
      <strong>Vorstand:</strong><br />Bernhard Opitz (1.Vors.), Prof. Dr. Klaus Becker, Klaus Kasper, Thomas Brück, Wolfgang Cieplik&nbsp;
    </p>
    <p><strong>Geschäftsführung:</strong><br />Pascal Steinhoff</p>
    <p><strong>Vereinsregister:</strong><br />Registergericht: Amtsgericht Köln&nbsp;<br />Registernummer: VR 20198&nbsp;</p>
    <p>
      <strong>Verantwortlicher für redaktionelle Inhalte gemäß §55 RStV:&nbsp;</strong><br />Torsten Winterberg<br />Innovation Hub
      Bergisches RheinLand e.V. (InnoHub&nbsp;e.V.)&nbsp;<br />Steinmüllerallee 7&nbsp;&nbsp;<br />51643 Gummersbach&nbsp;
    </p>
    <p>
      <strong>Erweiterte Gültigkeit:&nbsp;</strong><br />Dieses Impressum gilt auch für unseren Newsletter und die Profile des InnoHub e.V.
      auf den folgenden Webseiten:<br />Facebook:
      <a href="https://www.facebook.com/Innovation-Hub-Bergisches-RheinLand-110577510563879"
        >https://www.facebook.com/Innovation-Hub-Bergisches-RheinLand-110577510563879</a
      >&nbsp;<br />Instagram: <a href="https://www.instagram.com/innovation_hub_br">https://www.instagram.com/innovation_hub_br/&nbsp;</a
      ><br />Twitter:&nbsp;<a href="https://twitter.com/ihbr_ev">https://twitter.com/ihbr_ev</a><br />XING:&nbsp;<a
        href="https://www.xing.com/pages/innovationhubbergischesrheinland"
        >https://www.xing.com/pages/innovationhubbergischesrheinland</a
      ><br />LinkedIn:&nbsp;<a href="https://www.linkedin.com/company/innovation-hub-bergisches-rheinland/?viewAsMember=true"
        >https://www.linkedin.com/company/innovation-hub-bergisches-rheinland/?viewAsMember=true</a
      >
    </p>
    <p><strong>Bildquellen:</strong><br /><a href="http://www.freepik.com">Freepik</a></p>
    <p>
      <strong>Hinweis zum Allgemeinen Gleichbehandlungsgesetz:</strong><br />Auf Grund der leichteren Lesbarkeit wird auf eine
      geschlechterspezifische Differenzierung verzichtet. Entsprechende Begriffe gelten im Sinne der Gleichbehandlung für beide
      Geschlechter.
    </p>
  </app-content-page-content>
</app-content-page>
