<app-content-page>
  <h1>Impressum</h1>
  <p>
    <strong>Angaben gem&auml;&szlig; &sect;5 TMG:</strong><br />
    Innovation Hub Bergisches RheinLand e.V. (IHBR e.V.)<br />
    Steinm&uuml;llerallee 1b <br />
    51643 Gummersbach<br />
    <br />
    E-Mail: info@innovation-hub.de
  </p>
  <p>
    <strong>Vorstand:</strong><br />
    Bernhard Opitz (1.Vors.), Prof. Dr. Klaus Becker, Joern Bielenberg, Thomas
    Br&uuml;ck, Wolfgang Cieplik
  </p>
  <p>
    <strong>Gesch&auml;ftsf&uuml;hrung:</strong><br />
    Torsten Winterberg, stellv. Lars Tams
  </p>
  <p>
    <strong>Vereinsregister:</strong><br />
    Registergericht: Amtsgericht K&ouml;ln<br />Registernummer: VR 20198
  </p>
  <p>
    <strong
      >Verantwortlicher f&uuml;r redaktionelle Inhalte gem&auml;&szlig; &sect;55
      RStV:</strong
    ><br />
    Lars Tams<br />
    Innovation Hub Bergisches RheinLand e.V. (IHBR e.V.)<br />
    Steinm&uuml;llerallee 1b <br />
    51643 Gummersbach
  </p>
  <p>
    <strong>Erweiterte G&uuml;ltigkeit:</strong><br />
    Dieses Impressum gilt auch f&uuml;r unseren Newsletter und die Profile des
    IHBR e.V. auf den folgenden Webseiten:<br />
    Facebook:
    <a
      href="https://www.facebook.com/Innovation-Hub-Bergisches-RheinLand-110577510563879"
      >https://www.facebook.com/Innovation-Hub-Bergisches-RheinLand-110577510563879</a
    ><br />
    Instagram:
    <a href="https://www.instagram.com/innovation_hub_br"
      >https://www.instagram.com/innovation_hub_br/</a
    ><br />
    Twitter:
    <a href="https://twitter.com/ihbr_ev">https://twitter.com/ihbr_ev</a>
  </p>
  <p>
    <strong>Hinweis zum Allgemeinen Gleichbehandlungsgesetz:</strong><br />
    Auf Grund der leichteren Lesbarkeit wird auf eine geschlechterspezifische
    Differenzierung verzichtet. Entsprechende Begriffe gelten im Sinne der
    Gleichbehandlung f&uuml;r beide Geschlechter.
  </p>
</app-content-page>
