<mat-list>
  <div mat-subheader>Eigentümer</div>
  <mat-list-item *ngFor="let owner of owners">
    <mat-icon mat-list-icon>person</mat-icon>
    <div>{{ owner.name }}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Administratoren ({{ administrators.length }})</div>
  <mat-list-item *ngFor="let administrator of administrators">
    <mat-icon mat-list-icon>person</mat-icon>
    <div class="flex-grow">{{ administrator.name }}</div>
    <ng-container *ngIf="showControls">
      <button mat-icon-button (click)="editMembership(administrator)" matTooltip="Mitgliedschaft bearbeiten">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Mitglieder ({{ members.length }})</div>
  <mat-list-item *ngFor="let member of members">
    <mat-icon mat-list-icon>person</mat-icon>
    <div class="flex-grow">{{ member.name }}</div>
    <ng-container *ngIf="showControls">
      <button mat-icon-button (click)="editMembership(member)" matTooltip="Mitgliedschaft bearbeiten">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="removeMembership(member)" matTooltip="Mitgliedschaft entfernen">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
  </mat-list-item>
</mat-list>
