<div class="card">
  <div>
    <p class="text-gray-400">Administratoren ({{ administrators.length || 0 }})</p>
    <ul>
      <li class="mt-4 p-2 odd:bg-gray-100" *ngFor="let administrator of administrators">
        <app-organization-membership-entry [showEdit]="showAdminControls && atLeastTwoAdmins" (edit)="editMembership(administrator)">{{
          administrator.name
        }}</app-organization-membership-entry>
      </li>
    </ul>
  </div>
  <div class="divider"></div>
  <div>
    <p class="text-gray-400">Mitglieder ({{ members.length || 0 }})</p>
    <ul>
      <li class="mt-4 p-2 odd:bg-gray-100" *ngFor="let member of members">
        <app-organization-membership-entry
          [showEdit]="showControls"
          [showRemove]="showControls"
          (edit)="editMembership(member)"
          (remove)="removeMembership(member)"
          >{{ member.name }}</app-organization-membership-entry
        >
      </li>
    </ul>
  </div>
</div>
