<form [formGroup]="informationFormGroup" class="flex flex-col">
  <mat-form-field appearance="outline">
    <mat-label>Bezeichnung</mat-label>
    <input formControlName="name" matInput maxlength="255" placeholder="Bezeichnung" required />

    <mat-hint align="end"> {{ informationFormGroup.controls['name'].value?.length || 0 }}/255 </mat-hint>

    <mat-error *ngIf="informationFormGroup.controls['name'].hasError('required')"> Bezeichnung <strong>fehlt</strong>! </mat-error>
    <mat-error *ngIf="informationFormGroup.controls['name'].hasError('pattern')"> Bezeichnung enthält ungültige Zeichen. </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Kurzbeschreibung</mat-label>
    <textarea
      formControlName="shortDescription"
      class="form-textarea"
      matInput
      maxlength="10000"
      placeholder="Kurzbeschreibung"
      required
    ></textarea>

    <mat-hint align="end"> {{ informationFormGroup.controls['shortDescription'].value?.length || 0 }}/10000 </mat-hint>

    <mat-error *ngIf="informationFormGroup.controls['shortDescription'].hasError('required')">
      Kurzbeschreibung <strong>fehlt</strong>!
    </mat-error>
    <mat-error *ngIf="informationFormGroup.controls['shortDescription'].hasError('pattern')">
      Kurzbeschreibung enthält ungültige Zeichen.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Voraussetzungen</mat-label>
    <textarea
      formControlName="requirement"
      class="form-textarea"
      matInput
      maxlength="10000"
      placeholder="Teilnahmevoraussetzungen"
    ></textarea>

    <mat-hint align="end"> {{ informationFormGroup.controls['requirement'].value?.length || 0 }}/10000 </mat-hint>
    <mat-error *ngIf="informationFormGroup.controls['requirement'].hasError('pattern')">
      Teilnahmevoraussetzungen enthält ungültige Zeichen.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Beschreibung</mat-label>
    <textarea formControlName="description" class="form-textarea" matInput placeholder="Beschreibung" maxlength="10000"></textarea>

    <mat-hint align="end"> {{ informationFormGroup.controls['description'].value?.length || 0 }}/10000 </mat-hint>
    <mat-error *ngIf="informationFormGroup.controls['description'].hasError('pattern')">
      Beschreibung enthält ungültige Zeichen.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Betreuer</mat-label>
    <input formControlName="supervisorName" matInput required maxlength="255" />
    <mat-hint align="end"> {{ informationFormGroup.controls['supervisorName'].value?.length }}/255 </mat-hint>
    <mat-error *ngIf="informationFormGroup.controls['supervisorName'].hasError('pattern')">
      Betreuungsperson enthält ungültige Zeichen.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" placeholder="Status" required>
      <mat-option value="AVAILABLE">Verfügbar</mat-option>

      <mat-option value="RUNNING">Laufend</mat-option>

      <mat-option value="FINISHED">Abgeschlossen</mat-option>
    </mat-select>

    <mat-error *ngIf="informationFormGroup.controls['status'].hasError('required')"> Status <strong>fehlt</strong>! </mat-error>
  </mat-form-field>
</form>
