<app-content-page>
  <h1>Datenschutz</h1>
  <p>
    <strong
      >ANBIETER UND VERANTWORTLICHE STELLE IM SINNE DES
      DATENSCHUTZGESETZES</strong
    ><br />
    Innovation Hub Bergisches RheinLand e.V.<br />
    Steinm&uuml;llerallee 1b<br />
    51643 Gummersbach<br />
    E-Mail: datenschutz@innovation-hub.de
  </p>
  <p>Vertreten durch Lars Tams</p>
  <p>
    Innovation Hub Bergisches RheinLand e.V. (IHBR e.V.)<br />
    Steinm&uuml;llerallee 1b <br />
    51643 Gummersbach
  </p>
  <p>
    <strong>DATENSICHERHEIT</strong><br />
    Die Sicherheit Ihrer Daten ist uns sehr wichtig. Um diese zu
    gew&auml;hrleisten, verwenden wir aktuelle Sicherheitstechnologien und
    organisatorische Ma&szlig;nahmen in &Uuml;bereinstimmung mit der DSGVO, dem
    Bundesdatenschutzgesetz und dem Telemediengesetz. Bitte beachten Sie, dass
    die Daten&uuml;bertragung im Internet (z. B. bei der Kommunikation per
    E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Verwenden Sie daher immer nur
    ausreichend sichere Verbindungen, um mit uns in Kontakt zu treten.
  </p>
  <p>
    <strong>PERSONENBEZOGENE DATEN</strong><br />
    Gem&auml;&szlig; Art. 4 Abs. 1 DSGVO sind &bdquo;personenbezogene
    Daten&ldquo; alle Informationen, die sich auf eine identifizierte oder
    identifizierbare nat&uuml;rliche Person (im Folgenden &bdquo;betroffene
    Person&ldquo;) beziehen. Als identifizierbar wird eine nat&uuml;rliche
    Personal angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung
    zu einer Kennung wie einem Name, zu einer Kennnummer, zu Standortdaten, zu
    einer Online-Kennung oder zu einem oder mehrere besonderen Merkmalen
    identifiziert werden kann, die Ausdruck der physischen, physiologischen,
    genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen
    Identit&auml;t dieser nat&uuml;rlichen Person sind, identifiziert werden
    kann
  </p>
  <p>
    <strong>RECHTE BETROFFENER PERSONEN</strong><br />
    Sie haben das Recht, erteilte Einwilligungen mit Wirkung f&uuml;r die
    Zukunft zu widerrufen. F&uuml;r die Nutzung dieses Widerrufsrechts wenden
    Sie sich bitte an die am Ende dieses Dokuments genannten
    Kontaktm&ouml;glichkeiten unseres Datenschutzbeauftragten.
  </p>
  <p>
    Sie haben jederzeit das Recht auf Auskunft &uuml;ber die bez&uuml;glich
    Ihrer Person gespeicherten Daten, deren Herkunft und Empf&auml;nger sowie
    den Zweck der Speicherung und/oder eine Vervollst&auml;ndigung, eine
    Berichtigung, Sperrung oder L&ouml;schung bzw. Einschr&auml;nkung der
    Verarbeitung zu verlangen. Ausnahmen von der L&ouml;schung: Es handelt sich
    um die vorgeschriebene Datenspeicherung zur Gesch&auml;ftsabwicklung oder
    die Daten unterliegen der gesetzlichen Aufbewahrungspflicht. Um eine
    Datensperre jederzeit ber&uuml;cksichtigen zu k&ouml;nnen, ist es
    erforderlich, die Daten f&uuml;r Kontrollzwecke in einer Sperrdatei
    vorzuhalten. Besteht keine gesetzliche Archivierungspflicht, k&ouml;nnen Sie
    auch die L&ouml;schung der Daten verlangen. Anderenfalls sperren wir die
    Daten, sofern Sie dies w&uuml;nschen. Sie haben ferner das Recht auf
    Daten&uuml;bertragbarkeit.
  </p>
  <p>
    Bitte wenden Sie sich diesbez&uuml;glich an unseren Verantwortlichen
    f&uuml;r Datenschutz, dessen Kontaktdaten Sie am Anfang dieser Hinweise
    finden.
  </p>
  <p>
    <strong>WEB-HOSTER</strong><br />
    Diese Webseite wird auf Serversystemen der Hetzner Online GmbH
    (Industriestra&szlig;e 25. 91710 Gunzenhausen betrieben). Die Rechenzentren
    von Hetzner befinden sich in Datacenter-Parks in N&uuml;rnberg und
    Falkenstein. Dar&uuml;ber hinaus betreibt Hetzner ein Datacenter in
    Helsinki, Finnland. Die Hetzner Online GmbH ist nach DIN ISO/IEC 27001
    zertifiziert. Das Zertifikat wei&szlig;t ein ad&auml;quates
    Sicherheitsmanagement, die Sicherheit der Daten, die Vertraulichkeit der
    Informationen und die Verf&uuml;gbarkeit der IT-Systeme nach. Im Rahmen
    unserer Zusammenarbeit geben wir keine personenbezogenen Daten &uuml;ber
    Ihren Besuch auf unserer Website direkt an Hetzner weiter. Es kann jedoch
    vorkommen, dass Hetzner, z.B. im Rahmen von Wartungsarbeiten, zumindest
    potenziell Zugriff auf personenbezogene Daten erlangt. Da auch in solchen
    F&auml;llen eine so genannte Auftragsdatenverarbeitung gem&auml;&szlig; Art.
    28 DSGVO vorliegt, haben wir nach Ma&szlig;gabe dieser Vorschrift einen
    Datenschutzvertrag mit Hetzner abgeschlossen. Darin ist auch der Schutz
    Ihrer personenbezogenen Daten sichergestellt.
  </p>
  <p>
    <strong>DATENERHEBUNG, DATENVERARBEITUNG &amp; DATENNUTZUNG</strong><br />
    Wir erheben, verarbeiten und nutzen grunds&auml;tzlich keine
    personenbezogenen Daten von Ihnen, wenn Sie das Informationsangebot auf
    unserer Webseite nutzen. Damit wir jedoch bestimmte Leistungen f&uuml;r Sie
    erbringen k&ouml;nnen, ben&ouml;tigen wir einige Ihrer personenbezogenen
    Daten. Hier&uuml;ber informieren wir Sie wie folgt:
  </p>
  <p>
    <strong>Technisch erforderliche Daten</strong><br />
    Wenn Sie auf unsere Webseite zugreifen, ohne sich anzumelden oder
    registrieren, werden durch uns und/oder unseren Hoster automatisch
    Informationen allgemeiner Natur erfasst. Zu diesen sogenannten
    Server-Logfiles geh&ouml;ren u.a. die folgenden Informationen: <br />
  </p>
  <ul>
    <li>Typ und Version des Browser</li>
    <li>Das Betriebssystem</li>
    <li>Die eingegebene URL</li>
    <li>Datum und Uhrzeit des Seitenaufrufs</li>
    <li>Datenmengen</li>
    <li>Ihre IP-Adresse</li>
  </ul>
  <p>
    <br />Die Logfiles werden f&uuml;r einen begrenzten Zeitraum von 14 Tagen
    auf Grundlage unserer berechtigten Tressen nach Art.6 Abs. 1 lit. f. DSGVO
    gespeichert. Ohne diese Daten w&auml;re es technisch teils nicht
    m&ouml;glich, die Inhalte der von Ihnen aufgerufenen Seite auszuliefern und
    darzustellen. Wir haben keine M&ouml;glichkeit, diese Daten zu ihrer Person
    zuzuordnen und f&uuml;hren diese Daten auch mit anderen Datenquellen nicht
    zusammen.
  </p>
  <p>
    <strong>Kontaktaufnahme per Mail</strong><br />
    Sollten Sie sich per E-Mail an uns wenden, ben&ouml;tigen wir gewisse
    personenbezogene Daten. Wir erheben, verarbeiten oder nutzen Ihre
    personenbezogenen Daten nur soweit und solange wir diese ben&ouml;tigen, um
    unsere Leistungen Ihnen gegen&uuml;ber zu erbringen. Inhalte von E-Mails
    gelangen ausschlie&szlig;lich unseren Mitarbeitern zur Kenntnis und werden
    absolut vertraulich behandelt. Die von Ihnen &uuml;bersandten Daten
    verbleiben bei uns, bis Sie uns zur L&ouml;schung auffordern, Ihre
    Einwilligung zur Speicherung widerrufen oder der Zweck f&uuml;r die
    Datenspeicherung entf&auml;llt. Es kommen jedoch stets die gesetzlichen
    Archivierungspflichten zur Anwendung.
  </p>
  <p>
    Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser
    Datenschutzerkl&auml;rung genannten Zwecken. Eine &Uuml;bermittlung Ihrer
    pers&ouml;nlichen Daten an Dritte zu anderen als den genannten Zwecken
    findet nicht statt.
  </p>
  <p>
    <strong>ONLINE PR&Auml;SENZEN IN SOZIALEN MEDIEN </strong><br />
    Wir haben Onlinepr&auml;senzen in sozialen Netzwerken/Plattformen
    eingerichtet, um mit den dort aktiven Kunden, Interessenten, Bewerbern und
    Nutzern kommunizieren zu k&ouml;nnen und diese &uuml;ber unsere Leistungen
    informieren zu k&ouml;nnen. Bitte nehmen Sie zur Kenntnis, dass diese
    sozialen Netzwerke/Plattformen Nutzerdaten auch au&szlig;erhalb der EU
    verarbeiten k&ouml;nnen. Beim Aufruf der jeweiligen Plattformen gelten die
    Gesch&auml;ftsbedingungen und die Datenverarbeitungsrichtlinien des
    jeweiligen Betreibers. Die Verarbeitung personenbezogener Daten der Nutzer
    dieser Onlinepr&auml;senzen durch den Innovation Hub Bergisches RheinLand
    e.V. erfolgt auf Grundlage unserer berechtigten Interessen an einer
    effektiven Information der Nutzer und Kommunikation mit den Nutzern gem.
    Art. 6 Abs. 1 lit. f. DSGVO. F&uuml;r eine Darstellung der jeweiligen
    Verarbeitungen und Widerspruchsm&ouml;glichkeiten konsultieren Sie bitte die
    Angaben des jeweiligen Anbieters:
  </p>
  <ul>
    <li>
      Facebook (Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304,
      USA): Datenschutzerkl&auml;rung unter
      <a href="https://www.facebook.com/privacy/explanation%C2%A0"
        >https://www.facebook.com/privacy/explanation</a
      >
    </li>
    <li>
      Instagram (Instagram LLC, 1601 Willow Rd, Menlo Park CA 94025, USA):
      Datenschutzerkl&auml;rung unter
      <a href="http://www.instagram.com/about/legal/privacy/"
        >http://www.instagram.com/about/legal/privacy/</a
      >
    </li>
    <li>
      Twitter (Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA
      94103, USA): Datenschutzerkl&auml;rung unter
      <a href="https://twitter.com/de/privacy"
        >https://twitter.com/de/privacy</a
      >
    </li>
    <li>
      XING (XING AG, Dammtorstra&szlig;e 29-32, 20354 Hamburg, Deutschland):
      Datenschutzerkl&auml;rung unter
      <a href="https://privacy.xing.com/de/datenschutzerklaerung"
        >https://privacy.xing.com/de/datenschutzerklaerung</a
      >
    </li>
    <li>
      LinkedIn(LinkedIn Ireland Unlimited Company Wilton Place, Dublin 2,
      Irland): Datenschutzerkl&auml;rung unter
      <a href="https://www.linkedin.com/legal/privacy-policy?_l=de_DE"
        >https://www.linkedin.com/legal/privacy-policy?_l=de_DE</a
      >
    </li>
    <li>
      YouTube (YouTube LLC, 901 Cherry Ave., San Bruno, CA 94066, USA):
      Datenschutzerkl&auml;rung unter:
      <a href="https://www.google.com/policies/privacy/?hl=de"
        >https://www.google.com/policies/privacy/?hl=de</a
      >
    </li>
  </ul>
  <p>
    Wir nutzen YouTube, damit wir Ihnen Videos zeigen und Ihnen so mehr
    &uuml;ber uns und unsere Projekte vermitteln k&ouml;nnen; darin liegt
    gleichzeitig das berechtigte Interesse im Sinne des Art. 6 Abs. 1 lit. f)
    DSGVO.
  </p>
  <p>
    Falls Sie &uuml;ber einen YouTube-Zugang verf&uuml;gen und in diesem
    eingeloggt sind, wird YouTube die Verbindungsinformationen Ihrem
    YouTube-Zugang zuweisen. Dies k&ouml;nnen Sie durch Ausloggen oder
    &Auml;ndern der Einstellungen in Ihren YouTube-Zugang verhindern.
  </p>
  <p>
    Dar&uuml;ber hinaus speichert YouTube Cookies in Ihrem verwendeten Browser.
    Falls Sie mit dieser Verarbeitung nicht einverstanden sind, haben Sie die
    M&ouml;glichkeit, &uuml;ber die Einstellungen Ihres Browsers die
    Installation von Cookies von YouTube/Google zu unterbinden (Informationen
    dazu finden Sie in der Hilfefunktion des Browsers).
  </p>
  <p>
    <strong>LINKS AUF ANDERE WEBSEITEN</strong><br />
    Unsere Angebote enthalten Links zu anderen Webseiten. Bitte beachten Sie,
    dass wir f&uuml;r die Datenschutzpraktiken dieser Webseiten nicht haften und
    denken Sie immer daran, sich dort vor der Dateneingabe entsprechend zu
    informieren.
  </p>
  <p>
    <strong>KONTAKT DES DATENSCHUTZBEAUFTRAGTEN</strong><br />
    &Uuml;ber die folgenden E-Mailadressen k&ouml;nnen Sie sich unmittelbare an
    unseren Datenschutzbeauftragten wenden: datenschutz@innovation-hub.de.
    Sollten Sie mit unserem Umgang mit Ihren personenbezogenen Daten nicht
    einverstanden sein, k&ouml;nnen Sie eine entsprechende Beschwerde bei der
    zust&auml;ndigen Aufsichtsbeh&ouml;rde einreichen.
  </p>
  <p>
    <strong>BESCHWERDERECHT </strong><br />
    Sie haben das Recht, sich bei einer Datenschutzaufsichtsbeh&ouml;rde zu
    beschweren oder Ihren Anspruch gerichtlich pr&uuml;fen zu lassen. Eine Liste
    der Datenschutzbeauftragten der L&auml;nder und deren Kontaktdaten
    k&ouml;nnen dem folgenden externen Link entnommen werden:
    <a
      href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html%C2%A0"
      >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a
    >
  </p>
  <p>
    <strong>AKTUALISIERUNG</strong><br />
    Um zu gew&auml;hrleisten, dass unsere Datenschutzhinweise stets den
    aktuellen gesetzlichen Vorgaben entspricht, behalten wir uns jederzeit
    &Auml;nderungen vor. Das gilt auch f&uuml;r den Fall, dass die
    Datenschutzhinweise aufgrund neuer oder &uuml;berarbeiteter Leistungen, zum
    Beispiel neuer Serviceleistungen, angepasst werden muss. Die neuen
    Datenschutzhinweise greift dann automatisch bei Ihrem n&auml;chsten Besuch
    auf unserem Angebot.
  </p>
  <p>
    <strong>NEWSLETTER</strong><br />
    Wenn Sie den auf der Website angebotenen Newsletter beziehen m&ouml;chten,
    ben&ouml;tigen wir von Ihnen eine E-Mail-Adresse sowie Informationen, welche
    uns die &Uuml;berpr&uuml;fung gestatten, dass Sie der Inhaber der
    angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters
    einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten
    verwenden wir ausschlie&szlig;lich f&uuml;r den Versand der angeforderten
    Informationen und geben sie nicht an Dritte weiter. Die erteilte
    Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren
    Nutzung zum Versand des Newsletters k&ouml;nnen Sie jederzeit widerrufen,
    etwa &uuml;ber den &bdquo;Austragen&ldquo;-Link im Newsletter.
  </p>
  <p>
    Mit den nachfolgenden Hinweisen kl&auml;ren wir Sie &uuml;ber die Inhalte
    unseres Newsletters sowie das Anmelde-, Versand- und das statistische
    Auswertungsverfahren sowie Ihre Widerspruchsrechte auf. Indem Sie unseren
    Newsletter abonnieren, erkl&auml;ren Sie sich mit dem Empfang und den
    beschriebenen Verfahren einverstanden.
  </p>
  <p>
    <strong>Inhalt des Newsletters</strong><br />
    Wir versenden Newsletter, E-Mails und weitere elektronische
    Benachrichtigungen mit werblichen Informationen (nachfolgend
    &bdquo;Newsletter&ldquo;) nur mit der Einwilligung der Empf&auml;nger oder
    einer gesetzlichen Erlaubnis. Sofern im Rahmen einer Anmeldung zum
    Newsletter dessen Inhalte konkret umschrieben werden, sind sie f&uuml;r die
    Einwilligung der Nutzer ma&szlig;geblich. Im &Uuml;brigen enthalten unsere
    Newsletter Informationen &uuml;ber aktuelle Nachrichten unseres
    Unternehmens, insbesondere Termin- und Veranstaltungshinweise, Interviews,
    Berichte, Vortr&auml;ge, Workshops und sonstige Leistungen unseres
    Unternehmens.
  </p>
  <p>
    <strong>Double-Opt-In und Protokollierung </strong><br />
    Die Anmeldung zu unserem Newsletter erfolgt in einem
    sog. Double-Opt-In-Verfahren, das hei&szlig;t, Sie erhalten nach der
    Anmeldung eine E-Mail, in der Sie um die Best&auml;tigung Ihrer Anmeldung
    gebeten werden. Diese Best&auml;tigung ist notwendig, damit sich niemand mit
    fremden E-Mailadressen anmelden kann. Die Anmeldungen zum Newsletter werden
    protokolliert, um den Anmeldeprozess entsprechend den rechtlichen
    Anforderungen nachweisen zu k&ouml;nnen. Hierzu geh&ouml;rt die
    Speicherung des Anmelde- und des Best&auml;tigungszeitpunkts, als auch der
    IP-Adresse. Ebenso werden die &Auml;nderungen Ihrer bei sendinblue
    gespeicherten Daten protokolliert.
  </p>
  <p>
    <strong>Sendinblue (ehemals Newsletter2Go)</strong><br />
    Wir nutzen Sendinblue (ehemals Newsletter2Go) f&uuml;r den Versand von
    Newslettern. Anbieter ist die Sendinblue GmbH, K&ouml;penicker Str. 126,
    10179 Berlin, Deutschland. Sendinblue ist ein Dienst, mit dem u.a. der
    Versand von Newslettern organisiert und analysiert werden kann. Die von
    Ihnen zum Zwecke des Newsletter Bezugs eingegeben Daten werden auf den
    Servern von Sendinblue in Deutschland gespeichert. Wenn Sie keine Analyse
    durch den Versanddienstleister wollen, k&ouml;nnen Sie den Newsletter
    jederzeit abbestellen. Hierf&uuml;r stellen wir in jeder
    Newsletter-Nachricht einen entsprechenden Link zur Verf&uuml;gung.
    SendinBlue ist es untersagt, Ihre Daten an Dritte weiterzugeben oder
    f&uuml;r andere Zwecke als f&uuml;r den Versand des BFB-Newsletters zu
    nutzen. Die Datenschutzerkl&auml;rung von Sendinblue ist unter folgendem
    Link abrufbar:
    <a href="https://de.sendinblue.com/legal/privacypolicy/"
      >https://de.sendinblue.com/legal/privacypolicy/</a
    >. Sendinblue ist ein europ&auml;ischer zertifizierter Anbieter, der nach
    den Anforderungen des Bundesdatenschutzgesetzes ausgew&auml;hlt wurde.
  </p>
  <p>
    <strong>Anmeldedaten</strong><br />
    Um sich f&uuml;r den Newsletter anzumelden, reicht es aus, wenn Sie Ihre
    E-Mail-Adresse angeben. Optional bitten wir Sie, Ihren Vor-, Nachnamen sowie
    den Namen Ihres Unternehmens anzugeben. Diese Informationen nutzen wir nur,
    um die Inhalte des Newsletters den Interessen unserer Leserinnen und Leser
    anzupassen.
  </p>
  <p>
    <strong>Statische Erhebung und Analysen </strong><br />
    Im Rahmen des Newsletter-Abrufs werden die Informationen erhoben, ob die
    Newsletter ge&ouml;ffnet werden, wann sie ge&ouml;ffnet werden und welche
    Links geklickt werden. Diese Informationen k&ouml;nnen aus technischen
    Gr&uuml;nden zwar den einzelnen Newsletterempf&auml;ngern zugeordnet werden,
    eine Auswertung der Daten folgt aber ausschlie&szlig;lich anonymisiert zu
    dem Zweck, die Lesegewohnheiten der Nutzerinnen und Nutzer zu erkennen und
    unsere Inhalte zu optimieren.
  </p>
  <p>
    <strong>Rechtsgrundlage der Verarbeitung</strong><br />
    Entsprechend den Vorgaben der Datenschutzgrundverordnung (DSGVO) informieren
    wir Sie, dass die Einwilligungen in den Versand der E-Mail-Adressen auf
    Grundlage der Art. 6 Abs. 1 lit. a, 7 DSGVO sowie &sect; 7 Abs. 2 Nr. 3,
    bzw. Abs. 3 UWG erfolgt. Der Einsatz des Versanddienstleisters Sendinblue,
    Durchf&uuml;hrung der statistischen Erhebungen und Analysen sowie
    Protokollierung des Anmeldeverfahrens, erfolgen auf Grundlage
    unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f DSGVO.
  </p>
  <p>
    <strong>Rechtliche Grundlage</strong><br />
    Wir sind grunds&auml;tzlich bem&uuml;ht Ihre Daten nur mit Ihrer
    Einwilligung zu verarbeiten. Ihre Daten k&ouml;nnen aber auch auf Grundlage
    des Art 6 Abs. 1 (f) der DSGVO dem berechtigen Interesse verarbeitet, z.B.
    zur Gesch&auml;ftsanbahnung etc. um Sie auch ohne Einwilligung zu
    kontaktieren oder Durchsetzung oder Abwehr zivilrechtlicher Anspr&uuml;che
    aus den vertraglichen und gesetzlichen Schuldverh&auml;ltnissen. Wir
    verarbeiten und speichern Daten im Rahm der gesetzlichen Verpflichtung, zur
    Erf&uuml;llung der vertraglichen Grundlagen, z.B. zur Einhaltung von steuer-
    und handelsrechtlichen Aufbewahrungsfristen (Art. 6. Abs. 1 (c)). Besteht
    die Pflicht zur Bereitstellung der personenbezogenen Daten im Rahmen der
    gesetzlich oder vertraglich vorgeschrieben Weise oder ist diese f&uuml;r
    einen Vertragsabschluss erforderlich, werden wir diese veranlassen.
  </p>
  <p>
    <strong>Weitergabe Ihrer Daten an Dritte</strong><br />
    Eine Weitergabe Ihrer Daten an Dritte erfolgt nur, soweit dies nach
    europ&auml;ischem Datenschutzrecht zul&auml;ssig oder vorgeschrieben ist.
    Dies ist zum einen der Fall, wenn Sie ausdr&uuml;cklich in die Weitergabe
    Ihrer Daten eingewilligt haben und/oder die Weitergabe zur
    Vertragsdurchf&uuml;hrung erforderlich ist. Eine Weitergabe Ihrer Daten ist
    datenschutzrechtlich ferner dann zul&auml;ssig, wenn die Durchsetzung von
    Regelungen anderer Gesetze (z.B. strafrechtliche Regelungen) die Weitergabe
    einfordern und dieser Weitergabe aus datenschutzrechtlicher Sicht nichts
    entgegen steht. Ebenfalls rechtens ist die Weitergabe Ihrer Daten dann, wenn
    unsererseits ein berechtigtes Interesse an der Weitergabe der entsprechenden
    Informationen besteht (etwa bei einer Auftragsvergabe an Dritte, beim
    Einsatz eines Beauftragten oder gegen&uuml;ber einem Webhoster). Die
    Weitergabe Ihrer Daten im Rahmen eines Auftragsverarbeitungsvertrages
    erfolgt ausschlie&szlig;lich auf Grundlage des Art. 28 DSGVO. Sie
    k&ouml;nnen sich darauf verlassen, dass wir die m&ouml;gliche Weitergabe
    personenbezogener Daten an Dritte in jedem Falle vorab datenschutzrechtlich
    pr&uuml;fen lassen.
  </p>
  <h4>
    Bei Nutzung der Seite prox.innovation-hub werden zus&auml;tzlich Schriften
    geladen:
  </h4>
  <p><strong>Google Web Fonts</strong></p>
  <p>
    Unsere Webseite verwendet Web Fonts von Google. Anbieter ist die Google
    Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.Durch den
    Einsatz dieser Web Fonts wird es m&ouml;glich Ihnen die von uns
    gew&uuml;nschte Darstellung unserer Website zu pr&auml;sentieren,
    unabh&auml;ngig davon welche Schriften Ihnen lokal zur Verf&uuml;gung
    stehen. Dies erfolgt &uuml;ber den Abruf der Google Web Fonts von einem
    Server von Google in den USA und der damit verbundenen Weitergabe Ihre Daten
    an Google. Dabei handelt es sich um Ihre IP-Adresse und welche Seite Sie bei
    uns besucht haben.Der Einsatz von Google Web Fonts erfolgt auf Grundlage von
    Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser Website haben wir ein
    berechtigtes Interesse an der optimalen Darstellung und &Uuml;bertragung
    unseres Webauftritts. Wir weisen darauf hin, dass mit dem Laden dieser Seite
    Ihre IP-Nummer in die USA &uuml;bertragen werden, die im Augenblick als
    unsicheres Drittland gelten.
  </p>
</app-content-page>
