<footer class="p-4 md:px-6 md:py-8">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="flex items-center mb-4 sm:mb-0">
      <a href="https://www.innovation-hub.de">
        <img class="max-w-1/4 w-full" class="mr-3 h-8" src="/assets/images/ihbr-logo.svg" alt="IHBR Logo" />
      </a>
      <a href="https://www.th-koeln.de">
        <img class="max-w-1/4 w-full" class="mr-3 h-8" src="/assets/images/th-koeln-logo.svg" alt="TH Köln" />
      </a>
      <a>
        <img class="max-w-1/2 w-full" class="mr-3 h-8" src="/assets/images/eu_efre_nrw.jpg" />
      </a>
    </div>
    <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
      <li>
        <a class="link link-hover mr-4 hover:underline md:mr-6" routerLink="/faq" title="FAQ">FAQ</a>
      </li>
      <li>
        <a class="link link-hover mr-4 hover:underline md:mr-6" routerLink="/contact" title="Kontakt">Kontakt</a>
      </li>
      <li>
        <a class="link link-hover mr-4 hover:underline md:mr-6" routerLink="/imprint" title="Impressum">Impressum</a>
      </li>
      <li>
        <a class="link link-hover mr-4 hover:underline md:mr-6" routerLink="/privacy" title="Datenschutzhinweis">Datenschutzhinweis</a>
      </li>
      <li>
        <a class="link link-hover mr-4 hover:underline md:mr-6" routerLink="/disclaimer" title="Haftungshinweis">Haftungshinweis</a>
      </li>
    </ul>
  </div>
</footer>
