<mat-toolbar>
  <div id="div_top_hypers">
    <ul id="ul_top_hypers">
      <li>
        <a routerLink="/contact" title="Kontakt">Kontakt</a>
      </li>

      <li>
        <a routerLink="/imprint" title="Impressum">Impressum</a>
      </li>

      <li>
        <a routerLink="/privacy" title="Datenschutzhinweis"
          >Datenschutzhinweis</a
        >
      </li>

      <li>
        <a routerLink="/disclaimer" title="Haftungshinweis">Haftungshinweis</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
