<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Organisationen</app-content-page-title>
    <app-content-page-actions>
      <app-add-button
        *ngIf="canCreateNewOrg"
        (click)="openOrganizationEditor()"
        data-tip="Neue Organisation anlegen"
        class="tooltip"
      ></app-add-button>
    </app-content-page-actions>
  </app-content-page-header>
  <app-content-page-content>
    <app-organization-list [organizations]="organizations$ | async"></app-organization-list>
  </app-content-page-content>
</app-content-page>
