@use '~@angular/material' as mat;
@mixin profile-overview-card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .profile-overview {
    .mat-badge-active {
      background-color: mat.get-color-from-palette($accent);
    }

    .chiptitle {
      color: mat.get-color-from-palette($primary);
    }
  }
}
