<mat-card *ngIf="jobOffer">
  <mat-card-header fxLayout="column">
    <mat-card-title>
      <b>{{ jobOffer.title }}</b>
    </mat-card-title>
    <mat-card-subtitle fxLayout="column" fxLayoutGap="10px">
      <mat-card-subtitle>
        <a [href]="creatorLink"
          ><b>{{ creatorName }}</b></a
        >
      </mat-card-subtitle>
      <mat-card-subtitle>
        Inseriert am: {{ this.getFormattedDate(jobOffer.createdAt) }}
      </mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <div *ngIf="jobOffer.earliestStartOfEmployment">
      <mat-card-subtitle>Frühester Einstellungstermin</mat-card-subtitle>
      {{ this.getFormattedDate(jobOffer.earliestStartOfEmployment) }}
    </div>
    <div>
      <mat-card-subtitle>Stellenbeschreibung</mat-card-subtitle>
      <div markdown [data]="jobOffer.description"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <div fxFlex="65">
        <mat-card-subtitle>Art der Beschäftigung</mat-card-subtitle>
        <ul>
          <li *ngFor="let type of this.availableTypesAsString | async">
            {{ type }}
          </li>
        </ul>
      </div>
      <div fxFlex>
        <mat-card-subtitle>Einstiegslevel</mat-card-subtitle>
        <ul>
          <li
            *ngFor="let entryLevel of this.availableEntryLevelsAsString | async"
          >
            {{ entryLevel }}
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
