<div>
  <button class="btn btn-square btn-ghost" (click)="backClicked.emit($event)">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="flex flex-col items-center gap-4">
    <img alt="PROX Logo" class="logo-sidebar" src="assets/images/prox-icon_160x160.png" />
    <app-user></app-user>
  </div>
  <ul class="text-base border-t w-full mt-4">
    <li>
      <a routerLink="/home" routerLinkActive="bg-base-200" (click)="navigationItemClicked.emit($event)">
        <fa-icon [icon]="homeIcon" [fixedWidth]="true"></fa-icon>
        Startseite
      </a>
    </li>
    <li>
      <a
        routerLink="/projects"
        [queryParams]="{ state: ['PROPOSED', 'OFFERED'] }"
        routerLinkActive="bg-base-200"
        (click)="navigationItemClicked.emit($event)"
      >
        <fa-icon [icon]="projectsIcon" [fixedWidth]="true"></fa-icon>
        Projekte
      </a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="bg-base-200" (click)="navigationItemClicked.emit($event)">
        <fa-icon [icon]="lecturersIcon" [fixedWidth]="true"></fa-icon>
        Lehrende
      </a>
    </li>
    <li>
      <a routerLink="/organizations" routerLinkActive="bg-base-200" (click)="navigationItemClicked.emit($event)">
        <fa-icon [icon]="orgsIcon" [fixedWidth]="true"></fa-icon>
        Unternehmen und Organisationen
        <span class="badge badge-primary">Neu</span>
      </a>
    </li>
    <li>
      <a routerLink="/faq" routerLinkActive="bg-base-200" (click)="navigationItemClicked.emit($event)">
        <fa-icon [icon]="faqIcon" [fixedWidth]="true"></fa-icon>
        FAQ
      </a>
    </li>
  </ul>
  <div class="text-base border-t w-full mt-4" *ngIf="isAdmin">
    <h3 class="text-sm font-semibold text-gray-500 uppercase tracking-wide px-4">Administration</h3>
    <ul>
      <li>
        <a routerLink="/administration" routerLinkActive="bg-base-200" (click)="navigationItemClicked.emit($event)">
          <fa-icon [icon]="tagIcon" [fixedWidth]="true"></fa-icon>
          Tag-Kuration
        </a>
      </li>
    </ul>
  </div>
</div>
