<div id="main-container">
  <div>
    <mat-sidenav-container fullscreen>
      <mat-sidenav #sidenav>
        <button (click)="sidenav.toggle()" class="no-hover in-sidebar" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <img class="logo-sidebar" src="assets/images/prox-icon_160x160.png" />

        <div fxLayout="column" fxLayoutGap="10px">
          <app-user></app-user>

          <mat-divider></mat-divider>

          <mat-list>
            <mat-list-item>
              <button
                (click)="sidenav.toggle()"
                [routerLinkActiveOptions]="{ exact: true }"
                class="sidebar-button"
                mat-button
                routerLink=""
                routerLinkActive="nav-activated"
              >
                <mat-icon class="sidebar-icon">home</mat-icon>
                Startseite
              </button>
            </mat-list-item>

            <mat-list-item>
              <button (click)="sidenav.toggle()" class="sidebar-button" mat-button routerLink="/projects" routerLinkActive="nav-activated">
                <mat-icon class="sidebar-icon">layers</mat-icon>
                Projekte
              </button>
            </mat-list-item>
            <mat-list-item>
              <button (click)="sidenav.toggle()" class="sidebar-button" mat-button routerLink="/lecturers" routerLinkActive="nav-activated">
                <mat-icon class="sidebar-icon">people_alt</mat-icon>
                Lehrende
              </button>
            </mat-list-item>
            <mat-list-item>
              <button
                (click)="sidenav.toggle()"
                class="sidebar-button"
                mat-button
                routerLink="/organizations"
                routerLinkActive="nav-activated"
              >
                <mat-icon class="sidebar-icon">business</mat-icon>
                Unternehmen und Organisationen
              </button>
            </mat-list-item>
            <mat-list-item *ngIf="isFeatureEnabled('jobs')">
              <button (click)="sidenav.toggle()" class="sidebar-button" mat-button routerLink="/jobs" routerLinkActive="nav-activated">
                <mat-icon class="sidebar-icon">work</mat-icon>
                Stellenangebote
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-sidenav>

      <div class="toolbar">
        <div class="bg-berry-500 h-1"></div>
        <div class="header-main">
          <button (click)="sidenav.toggle()" class="no-hover" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>

          <img class="logo-responsive" routerLink="" src="assets/images/prox-logo_250x150.png" />
          <img class="logo-responsive-icon" routerLink="" src="assets/images/prox-icon_160x160.png" />

          <a href="https://www.innovation-hub.de/">
            <img src="assets/images/ihbr-logo.svg" alt="IHBR Logo" class="ihbr-logo" />
          </a>

          <a href="https://www.th-koeln.de/">
            <img src="assets/images/th-koeln-logo.svg" alt="TH Köln" class="th-logo" />
          </a>
        </div>
      </div>
      <app-main-content></app-main-content>
      <div class="mt-10 max-w-screen-lg w-full mx-auto">
        <app-footer></app-footer>
      </div>
    </mat-sidenav-container>
  </div>
</div>
