@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin content-layout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .content-layout {
    .header-line {
      background-color: mat.get-color-from-palette($primary);
    }
  }
}
