<mat-card appearance="outlined">
  <mat-card-content>
    <app-text-banner
      >Hinweis: Fügen Sie außerdem Tags zu ihrem Benutzerprofil hinzu, um von personalisierten Empfehlungen zu profitieren</app-text-banner
    >

    <form [formGroup]="formGroup" class="flex flex-col my-4">
      <strong>Ich interessiere mich für:</strong>
      <div formGroupName="projectSearch">
        <mat-checkbox formControlName="enabled">Projekte</mat-checkbox>
        <div>
          <div>
            <b>Fachbereich</b>
          </div>
          <mat-selection-list formControlName="disciplines" color="primary">
            <mat-list-option *ngFor="let discipline of disciplines$ | async" [value]="discipline.key"
              ><strong>({{ discipline.key }})</strong> {{ discipline.name }}</mat-list-option
            >
          </mat-selection-list>
        </div>
        <mat-divider></mat-divider>
        <div>
          <div>
            <b>Modulart</b>
          </div>
          <mat-selection-list formControlName="moduleTypes" color="primary">
            <mat-list-option *ngFor="let module of modules$ | async" [value]="module.key"
              ><strong>({{ module.key }})</strong> {{ module.name }}</mat-list-option
            >
          </mat-selection-list>
        </div>
      </div>
      <div formGroupName="lecturerSearch">
        <mat-checkbox formControlName="enabled">Lehrende</mat-checkbox>
      </div>
      <div formGroupName="organizationSearch">
        <mat-checkbox formControlName="enabled">Organisationen und Unternehmen</mat-checkbox>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex flex-row justify-end m-2">
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid || !this.formGroup.dirty" (click)="onSave()">
        <mat-icon fontIcon="save"></mat-icon>
        Speichern
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<!-- <form [formGroup]="moduleFormGroup" class="flex flex-col gap-2">

</form> -->
