<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <div class="container">
    <img alt="Banner" src="/assets/images/home-banner.jpg" />
    <div class="caption mat-display-1">Finde dein perfektes Projekt</div>
  </div>

  <div class="search">
    <form
      fxLayout="row"
      fxLayoutAlign="space-around center"
      (ngSubmit)="onSubmit()"
      [formGroup]="searchForm"
    >
      <mat-form-field appearance="outline">
        <mat-label [innerText]="placeholder"></mat-label>
        <input
          type="search"
          matInput
          placeholder="Suchbegriff"
          formControlName="searchInput"
          (focus)="stopTypewriter()"
          (blur)="startTypewriter()"
        />
        <mat-icon matPrefix>search</mat-icon>
        <mat-hint
          >Ein Suchbegriff um nach Projekten zu suchen. Leer um alle Projekte
          anzuzeigen.</mat-hint
        >
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Suchen</button>
    </form>
  </div>

  <div class="description">
    <b>PROX</b> (Project Exchange TH Köln) ist ein Webportal, auf dem
    Studierende der TH Köln, lokale Unternehmen und Lehrende der TH Köln
    zusammengebracht werden. In <b>PROX</b> finden Sie Bachelor- und
    Masterarbeiten, aber auch Projekte aus den Studiengängen der TH-Köln, wie
    z.B. Praxis- und Informatikprojekte. <br /><br />
    <b>PROX</b> ist ein Service, der für die TH Köln und regionale Unternehmen
    durch den
    <a href="https://www.innovation-hub.de"
      >Innovation Hub Bergisches RheinLand</a
    >
    bereitgestellt wird.
  </div>

  <div
    class="popularTags"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    *ngIf="popularTags$ | async as tags"
  >
    <h1>Häufige Tags</h1>
    <mat-chip-list>
      <mat-chip
        selected
        *ngFor="let tag of tags"
        [routerLink]="['/projects']"
        [queryParams]="buildTagFilter(tag)"
      >
        {{ tag.tagName }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
