@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin home-component-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  // Define any styles affected by the theme.
  .user-role-heading {
    color: mat.get-color-from-palette($primary);
  }

  ul li::before {
    color: mat.get-color-from-palette($primary);
  }
}

@mixin home-component-theme($theme) {
  $color: mat-get-color-config($theme);
  @if $color != null {
    @include home-component-color($color);
  }
}
