<div class="bg-white p-3 border-t-4 border-berry-500 max-w-sm min-w-full min-h-full shadow">
  <div class="avatar image overflow-hidden flex justify-center">
    <ng-content select="img [avatar]"></ng-content>
  </div>
  <h1 class="text-gray-900 font-bold text-2xl leading-8 my-2">
    <ng-content select="app-avatar-card-title, [app-avatar-card-title], [appAvatarCardTitle]"></ng-content>
  </h1>
  <h3 class="text-gray-600 font-lg text-semibold leading-6">
    <ng-content select="app-avatar-card-subtitle, [app-avatar-card-subtitle], [appAvatarCardSubtitle]"></ng-content>
  </h3>
  <div>
    <app-social-media-button-row> </app-social-media-button-row>
  </div>
</div>
