<div class="mat-elevation-z8">
  <mat-form-field class="p-2 w-full">
    <mat-label>Filter</mat-label>
    <input matInput #input [formControl]="searchInputCtrl" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort matSortActive="modifiedAt" matSortDirection="desc">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element['id'] | slice : 0 : 8 }}</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Anz. Verwendungen</th>
      <td mat-cell *matCellDef="let element">{{ element['count'] }}</td>
    </ng-container>

    <ng-container matColumnDef="tagName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag</th>
      <td mat-cell *matCellDef="let element">{{ element['tagName'] }}</td>
    </ng-container>

    <ng-container matColumnDef="aliases">
      <th mat-header-cell *matHeaderCellDef>Aliase</th>
      <td mat-cell *matCellDef="let element">{{ element['aliases'].join(',') }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Erstelldatum</th>
      <td mat-cell *matCellDef="let element">{{ element['createdAt'] | date : 'YYYY-MM-dd HH:mm:ss' }}</td>
    </ng-container>

    <ng-container matColumnDef="modifiedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Änderungsdatum</th>
      <td mat-cell *matCellDef="let element">{{ element['modifiedAt'] | date : 'YYYY-MM-dd HH:mm:ss' }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Verwendungen des Tags anzeigen" (click)="openFindDialog(element)">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button mat-icon-button matTooltip="Tag bearbeiten" (click)="openEditDialog(element)">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button mat-icon-button matTooltip="Tag mergen" (click)="openMergeDialog(element)">
          <fa-icon [icon]="faMerge"></fa-icon>
        </button>
        <button mat-icon-button matTooltip="Tag entfernen" (click)="deleteTag(element)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'count', 'tagName', 'aliases', 'createdAt', 'modifiedAt', 'actions']"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: ['id', 'count', 'tagName', 'aliases', 'createdAt', 'modifiedAt', 'actions']"
      (click)="expandedElement = expandedElement === element ? null : element"
      class="hover:bg-gray-100"
    ></tr>
  </table>

  <mat-paginator [length]="dataSource.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20]"> </mat-paginator>
</div>
