<app-profile-card>
  <app-profile-card-header [icon]="icon">
    <app-profile-card-title>Publikationen</app-profile-card-title>
  </app-profile-card-header>
  <app-profile-card-content>
    <div *ngFor="let publication of publications | slice: 0:limit; let i = index">
      <p [innerHTML]="publication | linky"></p>
      <button (click)="limit = publications.length" *ngIf="i === limit - 1 && limit < publications.length" color="accent" mat-button>
        Mehr anzeigen
      </button>
      <button (click)="limit = 10" *ngIf="i === limit - 1 && limit >= publications.length" color="accent" mat-button>
        Weniger anzeigen
      </button>
    </div>
  </app-profile-card-content>
</app-profile-card>
