<ng-container>
  <mat-form-field class="w-full">
    <mat-select [formControl]="selectCtrl" placeholder="Projektpartner">
      <mat-optgroup label="Organisationen" *ngIf="organizations$ | async; let organizations">
        <mat-icon>business</mat-icon>
        <mat-option *ngIf="organizations.length === 0" disabled> Keine Organisationen gefunden </mat-option>
        <mat-option *ngFor="let org of organizations" [value]="org.id" [id]="org.id">
          <!--<mat-icon>business</mat-icon>-->
          <span>{{ org.name }}</span>
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</ng-container>
