<div class="flex flex-col gap-10 items-center justify-center">
  <!-- Profile Information -->
  <div class="grid grid-rows-2 grid-cols-4 gap-4">
    <div class="row-span-2">
      <app-profile-avatar-card
        [avatar]="logo"
        [title]="company?.information.name"
      ></app-profile-avatar-card>
    </div>
    <div class="col-span-3 row-span-2">
      <div class="flex flex-col gap-4">
        <app-profile-information-card>
          <app-profile-information-card-entry
            title="Name"
            value="Karl Theodor"
          ></app-profile-information-card-entry>
          <app-profile-information-card-entry
            title="Name"
            value="Karl Theodor"
          ></app-profile-information-card-entry>
          <app-profile-information-card-entry
            title="Name"
            value="Karl Theodor"
          ></app-profile-information-card-entry>
          <app-profile-information-card-entry
            title="Name"
            value="Karl Theodor"
          ></app-profile-information-card-entry>
          <app-profile-information-card-entry
            title="Name"
            value="Karl Theodor"
          ></app-profile-information-card-entry>
        </app-profile-information-card>
        <app-profile-language-card>
          <app-profile-language-card-entry
            isoIdentifier="de"
            name="Deutsch"
          ></app-profile-language-card-entry>
          <app-profile-language-card-entry
            isoIdentifier="gb"
            name="Englisch (UK)"
          ></app-profile-language-card-entry>
          <app-profile-language-card-entry
            isoIdentifier="se"
            name="Schwedisch"
          ></app-profile-language-card-entry>
        </app-profile-language-card>
      </div>
    </div>
  </div>

  <!-- Shash / Vita -->
  <div>
    <app-sash>
      <app-sash-title>Beschreibung</app-sash-title>
      <app-sash-content
        [innerText]="company?.information.vita"
      ></app-sash-content>
    </app-sash>
  </div>
</div>
