.professor-list {
  margin-top: 70px;
  margin-left: 40px;
  padding-bottom: 20px;
}

h1 {
  padding-top: 15px;
  padding-left: 30px;
}

.mat-form-field {
  margin-left: 30px;
}

.facultySelector {
  width: 30%;
}

.searchField {
  width: 20%;
}
