.profile-projects-history {
  max-width: 1000px;
}

.profile-information {
  max-width: 1000px;
}

.profile-publications {
  max-width: 1000px;
}

.profile-research {
  max-width: 1000px;
}

.profile-available-projects {
  max-width: 1000px;
  width: 100%;
}

.profile-vita {
  width: 100%;
}

.topBar {
  margin-right: 20px;
  margin-left: auto;
  right: 0;
  position: absolute;
}
