<form [formGroup]="moduleFormGroup">
  <mat-accordion multi>
    <mat-expansion-panel hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Fachbereich </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list formControlName="disciplines" color="primary">
        <mat-list-option *ngFor="let discipline of disciplines$ | async" [value]="discipline.key"
          ><strong>({{ discipline.key }})</strong> {{ discipline.name }}</mat-list-option
        >
      </mat-selection-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Modulart </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list formControlName="modules" color="primary">
        <mat-list-option *ngFor="let module of modules$ | async" [value]="module.key"
          ><strong>({{ module.key }})</strong> {{ module.name }}</mat-list-option
        >
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</form>
