<form [formGroup]="moduleFormGroup" class="flex flex-col gap-2">
  <div>
    <div>
      <b>Fachbereich</b>
    </div>
    <mat-selection-list formControlName="specializations" color="primary">
      <mat-list-option *ngFor="let specialization of specializations" [value]="specialization.id">{{
        specialization.name
      }}</mat-list-option>
    </mat-selection-list>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div>
      <b>Modulart</b>
    </div>
    <mat-selection-list formControlName="modules" color="primary">
      <mat-list-option *ngFor="let module of modules" [value]="module.id">{{ module.name }}</mat-list-option>
    </mat-selection-list>
  </div>
</form>
