<app-profile-card>
  <div class="w-full max-h-48 overflow-hidden">
    <img class="object-contain" src="/assets/images/blank-profile-banner.jpg" />
  </div>
  <div class="ml-5 mt-5">
    <div class="flex flex-row gap-2">
      <div
        [ngClass]="{ 'rounded-full': roundedAvatar }"
        class="-mt-20 h-40 w-40 flex-shrink-0 border-4 border-white overflow-hidden bg-white"
      >
        <!-- TODO: Object fit classes need to be refactored once the image processing in the backend is done correctly -->
        <img
          alt="Avatar"
          [src]="imageSrc"
          class="h-full w-full object-contain"
          [ngClass]="{ 'object-cover': roundedAvatar }"
          onerror="this.src='/assets/images/blank-profile-picture.png'"
        />
      </div>
      <div>
        <h1>{{ title }}</h1>
      </div>
      <!--<div>
        <mat-chip-list>
          <mat-chip *ngFor='let tag of tags' selected>{{ tag }}</mat-chip>
        </mat-chip-list>
      </div>-->
      <a *ngIf="showEdit" class="ml-auto">
        <button (click)="editClicked.emit($event)">
          <mat-icon class="mx-4">edit</mat-icon>
        </button>
      </a>
    </div>
    <!--<div class="ml-2">
      <h1>{{ title }}</h1>
    </div>-->
    <div class="mt-4">
      <app-tag-list>
        <app-tag *ngFor="let tag of tags" selected>{{ tag }}</app-tag>
      </app-tag-list>
    </div>
  </div>
</app-profile-card>
