button {
  background-color: var(--th-orange);
  color: #ffffff;
  border-radius: 0;
}

h1 {
  font-family: 'Roboto';
  text-align: center;
}

.slider-body-wrapper {
  position: relative;
  overflow: hidden;
}
