<div fxLayout="row" fxLayoutGap="15px">
  <div class="prof-image-div">
    <img
      alt="blank"
      src="http://localhost:9005/professors/2c3545e0-13af-4be3-8bd5-b257eb5809c5/image"
      width="200"
    />
  </div>
  <div class="prof-info-div">
    <h1>Name</h1>
    <h2>Fakultät</h2>
    <table class="prof-info-table">
      <tr>
        <td>Hochschulzugehörigkeit seit:</td>
        <td>2010</td>
      </tr>
      <tr>
        <td>Lehrgebiet:</td>
        <td>Mobile Computing</td>
      </tr>
      <tr>
        <td>Standort, Raum:</td>
        <td>Köln Deutz, Raum 2110</td>
      </tr>
      <tr>
        <td>Sprechstunde:</td>
        <td>Montags 14-16 Uhr</td>
      </tr>
      <tr>
        <td>Telefonnummer:</td>
        <td>02261 - xxxxxxxxxx</td>
      </tr>
      <tr>
        <td>E-Mail:</td>
        <td>
          <a href="mailto:vorname.nachname@th-koeln.de"
            >vorname.nachname@th-koeln.de</a
          >
        </td>
      </tr>
      <tr>
        <td>Homepage:</td>
        <td><a href="http://www.laborURL.de">www.laborURL.de</a></td>
      </tr>
    </table>
  </div>
</div>
