<div fxLayout="row" fxLayoutGap="15px">
  <div class="prof-image-div">
    <img alt="blank" [src]="imgUrl" width="200" />
  </div>
  <div class="prof-info-div">
    <h1>{{ name }}</h1>
    <h2>{{ faculty }}</h2>
    <table class="prof-info-table">
      <tr>
        <td>Hochschulzugehörigkeit seit:</td>
        <td>TODO</td>
      </tr>
      <tr>
        <td>Lehrgebiet:</td>
        <td>TODO</td>
      </tr>
      <tr>
        <td>Standort, Raum:</td>
        <td>{{ room }}</td>
      </tr>
      <tr>
        <td>Sprechstunde:</td>
        <td>{{ consultationHour }}</td>
      </tr>
      <tr>
        <td>Telefonnummer:</td>
        <td [innerHTML]="textProcessor.process(telephone)"></td>
      </tr>
      <tr>
        <td>E-Mail:</td>
        <td [innerHTML]="textProcessor.process(email)"></td>
      </tr>
      <tr>
        <td>Homepage:</td>
        <td [innerHTML]="textProcessor.process(homepage)"></td>
      </tr>
    </table>
  </div>
</div>
