<app-content-page>
  <app-content-page-header>
    <app-content-page-title>FAQ</app-content-page-title>
  </app-content-page-header>
  <app-content-page-content>
    <ul class="gap-4">
      <li>
        <p><strong>Ich habe einen Fehler gefunden oder etwas funktioniert nicht so wie erwartet - an wen kann ich mich wenden?</strong></p>
        <p>Wenden Sie sich über <a href="/contact">Kontakt</a> an ein Teammitglied von PROX.</p>
      </li>
      <li>
        <p><strong>Wie werde ich als Lehrender freigeschaltet?</strong></p>
        <p>
          Die Freischaltung erfolgt automatisch, wenn Sie sich mit einer E-Mail Adresse der TH-Köln registrieren und die E-Mail Adresse
          bestätigen. Das gilt nicht für smail-Adressen. Sollte das nicht automatisch passieren oder Sie eine andere E-Mail Adresse genutzt
          haben, wenden Sie sich über
          <a href="/contact">Kontakt</a> an ein Teammitglied von PROX.
        </p>
      </li>
    </ul>
  </app-content-page-content>
</app-content-page>
