<app-content-page>
  <app-content-page-header>
    <app-content-page-title>Kontakt</app-content-page-title>
  </app-content-page-header>
  <app-content-page-content fxLayout="column" fxLayoutGap="30px">
    <div>
      <h2>Professor</h2>
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>Stefan Bente</mat-card-title>
          <mat-card-subtitle
            ><a href="mailto:stefan.bente@th-koeln.de"
              >stefan.bente@th-koeln.de</a
            ></mat-card-subtitle
          >
          <img mat-card-md-image src="/assets/images/contact/bente.bmp" />
        </mat-card-title-group>
      </mat-card>
    </div>
    <div>
      <h2>IT-Koordinator IT-Lab</h2>
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>Julian Lengelsen</mat-card-title>
          <mat-card-subtitle
            ><a href="mailto:julian.lengelsen@innovation-hub.de"
              >julian.lengelsen@innovation-hub.de</a
            ></mat-card-subtitle
          >
          <img mat-card-md-image src="/assets/images/contact/lengelsen.bmp" />
        </mat-card-title-group>
      </mat-card>
    </div>
  </app-content-page-content>
</app-content-page>
