<div class="md:flex no-wrap md:-mx-2">
  <div class="w-full md:w-3/12 md:mx-2">
    <profile-card
      [avatar]="this.information.imageUrl"
      [title]="this.information.title"
    ></profile-card>
  </div>
  <div class="w-full md:w-9/12 mx-2 h-64">
    <profile-about-card> </profile-about-card>
  </div>
</div>
<!--<div gdAreas="picture info" gdGap="10px" gdColumns="200px auto">
  <div gdArea="picture">
    <div gdAreas="picture | socialMedia">
      <div gdArea="picture" class="profile-image-div">
        <img
          class="profileImage"
          alt="blank"
          [src]="information.imageUrl"
          onerror="this.src='/assets/images/blank-profile-picture.png'"
          width="200"
        />
      </div>
    </div>

    <div gdArea="socialMedia" class="socialMedia" fxLayoutGap="5px">
      <a *ngIf="facebookUrl" [href]="facebookUrl">
        <mat-icon
          fontSet="fab"
          fontIcon="fa-facebook-square"
          inline="true"
          class="facebook"
        ></mat-icon>
      </a>
      <a *ngIf="twitterUrl" [href]="twitterUrl">
        <mat-icon
          fontSet="fab"
          fontIcon="fa-twitter-square"
          inline="true"
          class="twitter"
        ></mat-icon>
      </a>
      <a *ngIf="instagramUrl" [href]="instagramUrl">
        <mat-icon
          fontSet="fab"
          fontIcon="fa-instagram-square"
          inline="true"
          class="instagram"
        ></mat-icon>
      </a>
      <a *ngIf="xingUrl" [href]="xingUrl">
        <mat-icon
          fontSet="fab"
          fontIcon="fa-xing-square"
          inline="true"
          class="xing"
        ></mat-icon>
      </a>
      <a *ngIf="linkedinUrl" [href]="linkedinUrl">
        <mat-icon
          fontSet="fab"
          fontIcon="fa-linkedin"
          inline="true"
          class="linkedin"
        ></mat-icon>
      </a>
    </div>
  </div>
  <div gdArea="info">
    <div gdAreas="header | information">
      <div gdArea="header">
        <div gdAreas="headtitle | subtitle">
          <div gdArea="headtitle">
            <h1>
              {{ information.title }}
            </h1>
          </div>
          <div gdArea="subtitle" *ngIf="information.subtitle">
            <h2>
              {{ information.subtitle }}
            </h2>
          </div>
        </div>
      </div>
      <div gdAreas="attribute value" gdGap="10px">
        <div
          gdArea="attribute"
          [gdRow]="i"
          *ngFor="let attribute of informationProperties; index as i"
        >
          {{ getDescription(attribute.description) }}
        </div>
        <div
          gdArea="value"
          [gdRow]="i"
          *ngFor="let attribute of informationProperties; index as i"
          [innerHTML]="
            attribute.urlProcessing
              ? (attribute.value | linky)
              : attribute.value
          "
        ></div>
      </div>
    </div>
  </div>
</div>
-->
