<div
  gdAreas="header header | subtitle subtitle | picture information"
  gdRows="auto auto auto"
  gdGap="10px"
  gdAreas.lt-md="header | subtitle | picture | information"
  gdRows.lt-md="auto auto auto auto"
>
  <div gdArea="header" fxLayoutAlign.lt-md="center center">
    <h1>
      {{ information.title }}
    </h1>
  </div>
  <div
    gdArea="subtitle"
    fxLayoutAlign.lt-md="center center"
    *ngIf="information.subtitle"
  >
    <h2>
      {{ information.subtitle }}
    </h2>
  </div>
  <div
    gdArea="picture"
    fxLayoutAlign.lt-md="center center"
    class="profile-image-div"
  >
    <img
      class="profileImage"
      alt="blank"
      [src]="information.imageUrl"
      onerror="this.src='/assets/images/blank-profile-picture.png'"
      width="200"
    />
  </div>
  <div gdArea="information" class="profile-info-div">
    <div gdAreas="attribute value" gdGap="10px">
      <div
        gdArea="attribute"
        [gdRow]="i"
        *ngFor="let attribute of informationProperties; index as i"
      >
        {{ getDescription(attribute.description) }}
      </div>
      <div
        gdArea="value"
        [gdRow]="i"
        *ngFor="let attribute of informationProperties; index as i"
        [innerHTML]="getValue(attribute.value, attribute.urlProcessing)"
      ></div>
    </div>
  </div>
</div>
