@use './theme.scss' as customTheme; // Have to use @use, import is deprecated
@use './theme_variables.scss' as custom;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'ngx-toastr/toastr';

@import 'material-icons-font/sass/variables';
@import 'material-icons-font/sass/mixins';
$MaterialIcons_FontPath: '~material-icons-font/fonts';
@import 'material-icons-font/sass/main';
@import 'material-icons-font/sass/Regular';

@layer base {
  a {
    @apply text-blue-400;
  }
  a:hover {
    @apply text-blue-500;
    @apply underline;
  }
}

// FIX: Angular Material 15 seems to have a bug where a line is added
// in the focused state of a form field in outline style.
// This removes the border line.
// Bit of more information: https://github.com/angular/components/issues/26449#issuecomment-1431627608
.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: 0px !important;
}
