@use '@angular/material' as mat;
@import '@angular/material/theming';
// Material Theme 1 Dark blue
$innohub-darkblue: #2d52a0;
$innohub-lightblue: #009fe3;
$innohub-berry: #9b1868;

$md-innohub1: (
  50: #e6eaf4,
  100: #c0cbe3,
  200: #96a9d0,
  300: #6c86bd,
  400: #4d6cae,
  500: #{$innohub-darkblue},
  600: #284b98,
  700: #22418e,
  800: #1c3884,
  900: #112873,
  A100: #a7b9ff,
  A200: #7491ff,
  A400: #4168ff,
  A700: #2854ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$prox-app-primary-1: mat.define-palette($md-innohub1);
$prox-app-accent-1: mat.define-palette($md-innohub1, A200, A100, A400);
$prox-app-warn-1: mat.define-palette(mat.$red-palette);

// Material Theme 2 Berry
$md-innohub2: (
  50: #f6e6f2,
  100: #e9c1de,
  200: #da98c9,
  300: #cb6eb3,
  400: #bf4fa2,
  500: #{$innohub-berry},
  600: #ad2b8a,
  700: #a4247f,
  800: #9c1e75,
  900: #8c1363,
  A100: #ffc0e8,
  A200: #ff8dd5,
  A400: #ff5ac1,
  A700: #ff41b8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$prox-app-primary-2: mat.define-palette($md-innohub2);
$prox-app-accent-2: mat.define-palette($md-innohub2, A200, A100, A400);
$prox-app-warn-2: mat.define-palette(mat.$red-palette);

// Material Theme 3 Light Blue
$md-innohub3: (
  50: #e0f3fc,
  100: #b3e2f7,
  200: #80cff1,
  300: #4dbceb,
  400: #26ade7,
  500: #{$innohub-lightblue},
  600: #0097e0,
  700: #008ddc,
  800: #0083d8,
  900: #0072d0,
  A100: #f8fcff,
  A200: #c5e2ff,
  A400: #92c8ff,
  A700: #79bbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$prox-app-primary-3: mat.define-palette($md-innohub3);
$prox-app-accent-3: mat.define-palette($md-innohub3, A200, A100, A400);
$prox-app-warn-3: mat.define-palette(mat.$red-palette);
