<div class="collapse border shadow">
  <input type="checkbox" class="peer" />
  <div class="collapse-title">
    <fa-icon [icon]="searchIcon"></fa-icon>
    <span class="mx-4">Suchen...</span>
  </div>
  <div class="collapse-content">
    <form [formGroup]="searchForm" (submit)="onSubmit()">
      <div class="flex flex-col">
        <mat-form-field>
          <input formControlName="txt" placeholder="Suchtext" matInput />
        </mat-form-field>
        <app-tag-input formControlName="tags" appearance="standard"></app-tag-input>
        <button class="btn btn-sm btn-primary w-full" type="submit">Suchen</button>
      </div>
    </form>
  </div>
</div>
