<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <fa-icon class="mr-4" [icon]="searchIcon"></fa-icon>
      Suchen...
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="searchForm" (submit)="onSubmit()">
    <div class="flex flex-col">
      <mat-form-field>
        <input formControlName="txt" placeholder="Suchtext" matInput />
      </mat-form-field>
      <button class="btn btn-sm btn-primary w-full" type="submit">Suchen</button>
    </div>
  </form>
</mat-expansion-panel>
