<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  *ngIf="availableProjects && availableProjects.length > 0"
>
  <h1>Aktuelle Projektthemen</h1>
  <mat-table [dataSource]="dataSource" class="mat-flat-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell id="hSubject" *matHeaderCellDef>Thema</mat-header-cell>
      <mat-cell
        mat-cell
        *matCellDef="let element"
        fxLayout="column"
        fxLayoutAlign="start "
      >
        <a [routerLink]="['/projects/' + element.id]" class="project-name">
          {{ element.project.name }}
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell id="hType" *matHeaderCellDef>Art</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let type of getProjectType(element.project)">
            {{ type }}
          </li>
        </ul>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
