<div fxLayout="column" fxLayoutAlign="start stretch">
  <h1>Aktuelle Projektthemen</h1>
  <mat-table [dataSource]="availableProjects" class="mat-flat-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell id="hSubject" *matHeaderCellDef>Thema</mat-header-cell>
      <mat-cell
        mat-cell
        *matCellDef="let project"
        fxLayout="column"
        fxLayoutAlign="start "
      >
        <a [routerLink]="['/projects/' + project.id]" class="project-name">
          {{ project.name }}
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell id="hType" *matHeaderCellDef>Art</mat-header-cell>
      <mat-cell *matCellDef="let project">
        <ul>
          <li *ngFor="let type of project.modules">
            {{ type.name }}
          </li>
        </ul>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
