<div class="navbar justify-between bg-base-100 max-h-10 z-50">
  <div class="navbar-start">
    <button class="btn btn-square btn-ghost" (click)="burgerClicked.emit($event)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  <div class="navbar-cente">
    <a routerLink="/">
      <img alt="PROX Logo" class="max-h-10" src="/assets/images/prox-icon_160x160.png" />
    </a>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost mr-4 text" routerLink="/contact">
      <svg class="w-7" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
        <rect x="0" y="0" width="1024" height="1024" fill="none" stroke="none" />
        <path
          fill="currentColor"
          d="M304 280h416c4.4 0 8-3.6 8-8c0-40-8.8-76.7-25.9-108.1c-17.2-31.5-42.5-56.8-74-74C596.7 72.8 560 64 520 64h-16c-40 0-76.7 8.8-108.1 25.9c-31.5 17.2-56.8 42.5-74 74C304.8 195.3 296 232 296 272c0 4.4 3.6 8 8 8z"
        />
        <path
          fill="currentColor"
          d="M940 512H792V412c76.8 0 139-62.2 139-139c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8c0 34.8-28.2 63-63 63H232c-34.8 0-63-28.2-63-63c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8c0 76.8 62.2 139 139 139v100H84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h148v96c0 6.5.2 13 .7 19.3C164.1 728.6 116 796.7 116 876c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8c0-44.2 23.9-82.9 59.6-103.7c6 17.2 13.6 33.6 22.7 49c24.3 41.5 59 76.2 100.5 100.5c28.9 16.9 61 28.8 95.3 34.5c4.4 0 8-3.6 8-8V484c0-4.4 3.6-8 8-8h60c4.4 0 8 3.6 8 8v464.2c0 4.4 3.6 8 8 8c34.3-5.7 66.4-17.6 95.3-34.5c41.5-24.3 76.2-59 100.5-100.5c9.1-15.5 16.7-31.9 22.7-49C812.1 793.1 836 831.8 836 876c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8c0-79.3-48.1-147.4-116.7-176.7c.4-6.4.7-12.8.7-19.3v-96h148c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z"
        />
      </svg>
      <span class="p-2 hidden md:block">Fehler melden</span>
    </button>

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <ng-container *ngIf="isLoggedIn; else defaultAvatar">
            <ng-container *ngIf="userProfile$ | async; let profile">
              <img alt="Avatar" [src]="profile.avatarUrl" onerror="this.src='/assets/images/blank-profile-picture.png'" />
            </ng-container>
          </ng-container>
          <ng-template #defaultAvatar>
            <img alt="Avatar" src="/assets/images/blank-profile-picture.png" />
          </ng-template>
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <li>
            <a class="justify-between" [routerLink]="['users', userId]">
              Profil
              <span class="badge badge-primary">Neu</span>
            </a>
          </li>
          <li (click)="logout()"><a>Logout</a></li>
        </ng-container>
        <ng-template #notLoggedIn>
          <li (click)="login()"><a>Login</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
