<div class="company-list">
  <div>
    <h1 mat-h1>Unternehmen</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="2% grid">
    <app-company-item
      *ngFor="let company of companies"
      [company]="company"
      fxFlex="48"
      fxFlex.lt-md="100"
    >
    </app-company-item>
  </div>
  <mat-paginator
    fxLayout="column"
    fxLayoutAlign="center center"
    (page)="changePageIndexOrSize($event)"
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50]"
  ></mat-paginator>
</div>
