<app-content-page>
  <div>
    <h1 mat-h1>Unternehmen</h1>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
    fxLayoutGap="20px"
  >
    <app-company-overview-item
      *ngFor="let company of companies"
      [company]="company"
      fxFlex="48"
      fxFlex.lt-md="100"
    >
    </app-company-overview-item>
  </div>
  <mat-paginator
    fxLayout="column"
    fxLayoutAlign="center center"
    (page)="changePageIndexOrSize($event)"
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50]"
  ></mat-paginator>
</app-content-page>
