<mat-form-field class="w-full" appearance="outline">
  <mat-label>{{ title || '' }}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let chip of _chips" [removable]="true" (removed)="removeChip(chip)">
      {{ chip }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input
      #chipInput
      [formControl]="chipInputCtrl"
      placeholder="{{ placeholder || '' }}"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addChipEvent($event)"
    />
  </mat-chip-list>
</mat-form-field>
