<mat-form-field class="w-full">
  <mat-label>{{ title || '' }}</mat-label>
  <mat-chip-grid #chipList>
    <mat-chip-row *ngFor="let chip of _chips" [removable]="true" (removed)="removeChip(chip)">
      {{ chip }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-row>

    <input
      #chipInput
      [formControl]="chipInputCtrl"
      placeholder="{{ placeholder || '' }}"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addChipEvent($event)"
    />
  </mat-chip-grid>
  <mat-hint>Trennen der Eingabe mit Enter oder Komma</mat-hint>
</mat-form-field>
