<div class="project-dialog">
  <h1 mat-dialog-title *ngIf="project == null">Projekt hinzufügen</h1>
  <h1 mat-dialog-title *ngIf="project">Projekt bearbeiten</h1>
  <form
    (ngSubmit)="onSubmit(projectFormControl.value)"
    *ngIf="projectFormControl"
    [formGroup]="projectFormControl"
    class="row"
    novalidate
  >
    <div class="project-dialog-form">
      <mat-form-field>
        <input
          [formControl]="projectFormControl.controls['name']"
          matInput
          placeholder="Bezeichnung"
          required
        />
        <mat-error *ngIf="projectFormControl.controls['name'].hasError('required')">
          Bezeichnung <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          [formControl]="projectFormControl.controls['shortDescription']"
          class="form-textarea"
          matInput
          placeholder="Kurzbeschreibung"
          required
        ></textarea>
        <mat-error *ngIf="projectFormControl.controls['shortDescription'].hasError('required')">
          Kurzbeschreibung <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          [formControl]="projectFormControl.controls['requirement']"
          class="form-textarea"
          matInput
          placeholder="Teilnahmevoraussetzungen"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea
          [formControl]="projectFormControl.controls['description']"
          class="form-textarea"
          matInput
          placeholder="Beschreibung"
          required
        ></textarea>
        <mat-error *ngIf="projectFormControl.controls['description'].hasError('required')">
          Beschreibung <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="projectFormControl.controls['supervisorName']"
          matInput
          placeholder="Betreuungsperson"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [formControl]="projectFormControl.controls['status']"
          placeholder="Status"
          required
        >
          <!-- The following options should be implemented either as enums or imported from backend -->
          <mat-option value="VERFÜGBAR">Verfügbar</mat-option>
          <mat-option value="LAUFEND">Laufend</mat-option>
          <mat-option value="ABGESCHLOSSEN">Abgeschlossen</mat-option>
        </mat-select>
        <mat-error *ngIf="projectFormControl.controls['status'].hasError('required')">
          Status <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>

      <section formArrayName="studyCoursesModuleSelectors" class="study-course-module-selectors">
        <prox-study-course-module-selection
          *ngFor="let selector of moduleSelectors.controls; index as i"
          [formControlName]="i"
          (delete)="removeStudyCourseModuleSelector(i)"
          class="study-course-module-selector"
        ></prox-study-course-module-selection>
      </section>

      <mat-form-field class="tag-list">
        <mat-chip-list #tagList>
          <mat-chip
            *ngFor="let tag of tags"
            [selectable]="true"
            [removable]="true"
            (removed)="removeTag(tag)"
          >
            {{ tag.tagName }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Tags"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addTag($event)"
          />
        </mat-chip-list>
      </mat-form-field>

      <a
        mat-mini-fab
        class="add-study-course-module-selector-button"
        (click)="addStudyCourseModuleSelector()"
      >
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <div mat-dialog-actions>
      <div class="action-buttons">
        <button (click)="closeDialog()" mat-button type="reset">Abbrechen</button>
        <button
          [disabled]="projectFormControl.invalid || hasSubmitted"
          mat-button
          type="submit"
          *ngIf="project"
        >
          Änderungen speichern
        </button>
        <button
          [disabled]="projectFormControl.invalid || hasSubmitted"
          mat-button
          type="submit"
          *ngIf="project == null"
        >
          Hinzufügen
        </button>
      </div>
    </div>
  </form>
</div>
