<mat-form-field class="w-full" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-grid #userList>
    <ng-container *ngFor="let user of _users">
      <mat-chip-row [removable]="true" (removed)="removeUser(user)">
        {{ user.displayName }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-row>
    </ng-container>

    <input #userInput [formControl]="userInputCtrl" [placeholder]="label" [matAutocomplete]="userAuto" [matChipInputFor]="userList" />
  </mat-chip-grid>

  <mat-autocomplete #userAuto="matAutocomplete" (optionSelected)="selectedUser($event)">
    <mat-option *ngFor="let user of userAutocomplete$ | async" [value]="user">
      <div class="flex flex-row justify-between">
        <div>
          <img src="/assets/images/blank-profile-picture.png" class="h-8 w-8 object-cover inline-block rounded-full" />
          <strong class="mx-2">{{ user.displayName }}</strong>
        </div>
        <div>
          <a href="/users/{{ user.userId }}" target="_blank" (click)="onOpenInNewClicked($event)">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
