<mat-form-field class="w-full" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-list #userList>
    <ng-container *ngFor="let user of _users">
      <mat-chip [removable]="true" (removed)="removeUser(user)">
        {{ user.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </ng-container>

    <input #userInput [formControl]="userInputCtrl" [placeholder]="label" [matAutocomplete]="userAuto" [matChipInputFor]="userList" />
  </mat-chip-list>

  <mat-autocomplete #userAuto="matAutocomplete" (optionSelected)="selectedUser($event)">
    <mat-option *ngFor="let user of userAutocomplete$ | async" [value]="user">
      <div class="flex flex-row justify-between">
        <div>
          <img
            src="{{ this.getAvatarUrl(user) }}"
            class="h-8 w-8 object-cover inline-block rounded-full"
            onerror="this.src='/assets/images/blank-profile-picture.png'"
          />
          <strong class="mx-2">{{ user.profile?.name ? user.profile?.name : user.name }}</strong>
          <i *ngIf="user.profile?.mainSubject">({{ user.profile.mainSubject }})</i>
        </div>
        <div>
          <a href="/users/{{ user.id }}" target="_blank" (click)="onOpenInNewClicked($event)">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
