@mixin professor-research-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .prof-research {
    .prof-research-div li::before {
      color: mat-color($primary);
    }
  }
}
