h1 {
  font-family: 'Roboto';
  text-align: center;
}

.mat-header-cell {
  font-family: 'Roboto';
  font-weight: bold;
}

.mat-cell {
  font-family: 'Roboto';
  word-wrap: break-word;
}

.mat-table {
  width: 100%;
}

.mat-column-name {
  word-break: break-all;
  width: 80%;
}

.mat-column-type {
  width: 20%;
  min-width: 20ch;
}
